<!-- Sidebar -->
<div class="sidebar sidebar-style-2" data-background-color="white">
	<div class="sidebar-wrapper scrollbar scrollbar-inner">
		<div class="sidebar-content">

			{% if current_user.is_authenticated %}
			<div class="user">
				<div class="avatar-sm float-left mr-2">
					<img src="/static/assets/img/sr_springs.jpg" alt="..." class="avatar-img rounded-circle">
				</div>
				<div class="info">
					<a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
						<span>
							{{ current_user.username }}
							<span class="user-level">
								{{ current_user.email }}
							</span>
							<span class="caret"></span>
						</span>
					</a>
					<div class="clearfix"></div>

					<div class="collapse in" id="collapseExample">
						<ul class="nav">
							<li>
								<a href="{{ url_for('authentication_blueprint.logout') }}">
									<span class="link-collapse">Logout</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<ul class="nav nav-primary">
				<li class="nav-item {% if 'dashboard' in segment %} active {% endif %}">
					<a href="/dashboard">
						<i style="color:black;" class="fas fa-home"></i>
						<p style="color:black;">Dashboard</p>
					</a>
				</li>

				<li class="nav-item {% if 'offer-' in segment %} active {% endif %}">
					<a href="/offer-offerlist">
						<i style="color:black;" class="fas fa-users"></i>
						<p style="color:black;">Offer</p>
					</a>
				</li>

				<li class="nav-item {% if 'invoice' in segment %} active {% endif %}">
					<a href="/invoice-invoiceslist">
						<i style="color:black;" class="fas fa-file-invoice"></i>
						<p style="color:black;">Invoice</p>
					</a>
				</li>

				<li class="nav-item {% if 'purchaseorder' in segment %} active {% endif %}">
					<a href="/PO-POlist">
						<i style="color:black;" class="fas fa-bars"></i>
						<p style="color:black;">Purchase Order</p>
					</a>
				</li>

				<li class="nav-item {% if 'masters' in segment %} active {% endif %}">
					<a href="/Customer-masters">
						<i style="color:black;" class="fas fa-cog"></i>
						<p style="color:black;">Customers</p>
					</a>
				</li>

				<li class="nav-item {% if 'details' in segment %} active {% endif %}">
					<a href="/Bank-details">
						<i style="color:black;" class="fas fa-piggy-bank"></i>
						<p style="color:black;">Bank Details</p>
					</a>
				</li>

				<li class="nav-item {% if 'settings' in segment %} active {% endif %}">
					<a href="/User-settings">
						<i style="color:black;" class="fas fa-sign-in-alt"></i>
						<p style="color:black;">Settings</p>
					</a>
				</li>

			</ul>
			{% else %}

			{% endif %}
		</div>
	</div>
</div>