		<!-- Sidebar -->
		<div class="sidebar sidebar-style-2" data-background-color="white">			
			<div class="sidebar-wrapper scrollbar scrollbar-inner">
				<div class="sidebar-content">

				{% if current_user.is_authenticated %}	
					<div class="user">
						<div class="avatar-sm float-left mr-2">
							<img src="/static/assets/img/logo.jpg" alt="..." class="avatar-img rounded-circle">
						</div>
						<div class="info">
							<a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
								<span>
									{{ current_user.username }}
									<span class="user-level">
										{{ current_user.email }}
									</span>
									<span class="caret"></span>
								</span>
							</a>
							<div class="clearfix"></div>

							<div class="collapse in" id="collapseExample">
								<ul class="nav">
									<li>
										<a href="{{ url_for('authentication_blueprint.logout') }}">
											<span class="link-collapse">Logout</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<ul class="nav nav-primary">
						<li class="nav-item {% if 'dashboard' in segment %} active {% endif %}">
							<a data-toggle="collapse" href="#dashboard" aria-expanded="false">
								<i style="color:black;" class="fas fa-home"></i>
								<p style="color:black;">Dashboard</p>
								<span class="caret"></span>
							</a>
							<div class="collapse {% if 'dashboard' in segment %} show {% endif %}" id="dashboard">
								<ul class="nav nav-collapse">
									<li class="{% if 'dashboard' in segment %} active {% endif %}">
										<a href="/dashboard">
											<span  style="color:black;" class="sub-item">Dashboard</span>
										</a>
									</li>
								</ul>
							</div>
						</li>
					
						<li class="nav-item {% if 'offer-' in segment %} active {% endif %}">
							<a data-toggle="collapse" href="#base">
								<i  style="color:black;" class="fas fa-users"></i>
								<p  style="color:black;">Offer</p>
								<span class="caret"></span>
							</a>
							<div class="collapse {% if 'offer-' in segment %} show {% endif %}" id="base">
								<ul class="nav nav-collapse">
									<li class="{% if 'offer-addoffer' in segment %} active {% endif %}">
										<a href="/offer-addoffer">
											<span  style="color:black;" class="sub-item">Add Offer</span>
										</a>
									</li>
									<li class="{% if 'offer-offerlist' in segment %} active {% endif %}">
										<a href="/offer-offerlist">
											<span  style="color:black;" class="sub-item">Offer List</span>
										</a>
									</li>
								</ul>
							</div>
						</li>

						<li class="nav-item {% if 'invoice' in segment %} active {% endif %}">
							<a data-toggle="collapse" href="#invoice">
								<i  style="color:black;" class="fas fa-file-invoice"></i>
								<p  style="color:black;">Invoice</p>
								<span class="caret"></span>
							</a>
							<div class="collapse {% if 'invoice' in segment %} show {% endif %}" id="invoice">
								<ul class="nav nav-collapse">
									<li class="{% if 'add-invoice' in segment %} active {% endif %}">
										<a href="/invoice-addinvoice">
											<span  style="color:black;" class="sub-item">Add Invoice</span>
										</a>
									</li>
									<li class="{% if 'list-invoice' in segment %} active {% endif %}">
										<a href="/invoice-invoiceslist">
											<span  style="color:black;"class="sub-item">Invoice List</span>
										</a>
									</li>
								</ul>
							</div>
						</li>

						<li class="nav-item {% if 'purchaseorder' in segment %} active {% endif %}">
							<a data-toggle="collapse" href="#purchaseorder">
								<i  style="color:black;" class="fas fa-bars"></i>
								<p  style="color:black;">Purchase Order</p>
								<span class="caret"></span>
							</a>
							<div class="collapse {% if 'purchaseorder' in segment %} show {% endif %}" id="purchaseorder">
								<ul class="nav nav-collapse">
									<li class="{% if 'add-purchaseorder' in segment %} active {% endif %}">
										<a href="/PO-addpo">
											<span  style="color:black;" class="sub-item">Add Purchase Order</span>
										</a>
									</li>
									<li class="{% if 'list-purchaseorder' in segment %} active {% endif %}">
										<a href="/PO-POlist">
											<span  style="color:black;" class="sub-item">Purchase Order List</span>
										</a>
									</li>
									<li class="{% if 'BOM-List-purchaseorder' in segment %} active {% endif %}">
										<a href="/BOM-List">
											<span  style="color:black;" class="sub-item">BOM List</span>
										</a>
									</li>
									<li class="{% if 'purchaseorder-Request' in segment %} active {% endif %}">
										<a href="/Purchase-Order-Request">
											<span  style="color:black;" class="sub-item">ADD PO Request</span>
										</a>
									</li>
									<li class="{% if 'Request-List-purchaseorder' in segment %} active {% endif %}">
										<a href="/Purchase-Order-Request-List">
											<span  style="color:black;" class="sub-item">PO Request List</span>
										</a>
									</li>
								</ul>
							</div>
						</li>

						<li class="nav-item {% if 'contractreview' in segment %} active {% endif %}">
							<a data-toggle="collapse" href="#contractreview">
								<i  style="color:black;" class="far fa-chart-bar"></i>
								<p  style="color:black;">Contract Review</p>
								<span class="caret"></span>
							</a>
							<div class="collapse {% if 'contractreview' in segment %} show {% endif %}" id="contractreview">
								<ul class="nav nav-collapse">
									<li class="{% if 'contractreview' in segment %} active {% endif %}">
										<a href="/Contract-Review-list">
											<span  style="color:black;" class="sub-item">Contract Review</span>
										</a>
									</li>
									
								</ul>
							</div>
						</li>


						<li class="nav-item {% if 'OcRegister' in segment %} active {% endif %}">
							<a data-toggle="collapse" href="#OcRegister">
								<i  style="color:black;" class="fas fa-money-bill"></i>
								<p  style="color:black;">OC Register</p>
								<span class="caret"></span>
							</a>
							<div class="collapse {% if 'OcRegister' in segment %} show {% endif %}" id="OcRegister">
								<ul class="nav nav-collapse">
									<li class="{% if 'OcRegister' in segment %} active {% endif %}">
										<a href="/OC-Register-list">
											<span  style="color:black;" class="sub-item">OC Register</span>
										</a>
									</li>
								</ul>
							</div>
						</li>

						<li class="nav-item {% if 'BOMRegister' in segment %} active {% endif %}">
							<a data-toggle="collapse" href="#BOMRegister">
								<i  style="color:black;" class="fas fa-money-check"></i>
								<p  style="color:black;">BOM Register</p>
								<span class="caret"></span>
							</a>
							<div class="collapse {% if 'BOMRegister' in segment %} show {% endif %}" id="BOMRegister">
								<ul class="nav nav-collapse">
									<li class="{% if 'BOMRegister' in segment %} active {% endif %}">
										<a href="/BOM-Register-List">
											<span  style="color:black;" class="sub-item">BOM Register</span>
										</a>
									</li>
								</ul>
							</div>
						</li>

						<li class="nav-item {% if 'MarketingRegister' in segment %} active {% endif %}">
							<a data-toggle="collapse" href="#MarketingRegister">
								<i  style="color:black;" class="fas fa-clock"></i>
								<p  style="color:black;">Marketing Register</p>
								<span class="caret"></span>
							</a>
							<div class="collapse {% if 'MarketingRegister' in segment %} show {% endif %}" id="MarketingRegister">
								<ul class="nav nav-collapse">
									<li class="{% if 'MarketingRegisterList' in segment %} active {% endif %}">
										<a href="/Marketing-RegisterList">
											<span  style="color:black;" class="sub-item">Marketing Register List</span>
										</a>
									</li>
									<li class="{% if 'MarketingRegisterReport' in segment %} active {% endif %}">
										<a href="/Marketing-Register-Report">
											<span  style="color:black;" class="sub-item">Marketing Register Report</span>
										</a>
									</li>
								</ul>
							</div>
						</li>



						<li class="nav-item {% if 'masters' in segment %} active {% endif %}">
							<a data-toggle="collapse" href="#masters">
								<i  style="color:black;" class="fas fa-cog fa-spin"></i>
								<p  style="color:black;">Masters</p>
								<span class="caret"></span>
							</a>
							<div class="collapse {% if 'masters' in segment %} show {% endif %}" id="masters">
								<ul class="nav nav-collapse">
									<li class="{% if 'Product-masters' in segment %} active {% endif %}">
										<a href="/Product-masters">
											<span  style="color:black;" class="sub-item">Product Master</span>
										</a>
									</li>
									<li class="{% if 'Kit-masters' in segment %} active {% endif %}">
										<a href="/Kit-masters">
											<span  style="color:black;"class="sub-item">Kit Master</span>
										</a>
									</li>
									<li class="{% if 'Customer-masters' in segment %} active {% endif %}">
										<a href="/Customer-masters">
											<span  style="color:black;" class="sub-item">Customer Master</span>
										</a>
									</li>
									<li class="{% if 'Country-masters' in segment %} active {% endif %}">
										<a href="/Country-masters">
											<span  style="color:black;" class="sub-item">Country Master</span>
										</a>
									</li>
									<li class="{% if 'State-masters' in segment %} active {% endif %}">
										<a href="/State-masters">
											<span  style="color:black;" class="sub-item">State Master</span>
										</a>
									</li>
									<li class="{% if 'City-masters' in segment %} active {% endif %}">
										<a href="/City-masters">
											<span  style="color:black;" class="sub-item">City Master</span>
										</a>
									</li>
									<li class="{% if 'Role-masters' in segment %} active {% endif %}">
										<a href="/Role-masters">
											<span  style="color:black;" class="sub-item">Role Master</span>
										</a>
									</li>
									<li class="{% if 'User-masters' in segment %} active {% endif %}">
										<a href="/User-masters">
											<span  style="color:black;" class="sub-item">User Master</span>
										</a>
									</li>
									<li class="{% if 'BOM-Category-masters' in segment %} active {% endif %}">
										<a href="/BOM-Category-masters">
											<span  style="color:black;" class="sub-item">BOM Category Master</span>
										</a>
									</li>
									<li class="{% if 'BOM-masters' in segment %} active {% endif %}">
										<a href="/BOM-masters">
											<span  style="color:black;" class="sub-item">BOM Master</span>
										</a>
									</li>
									<li class="{% if 'Supplier-masters' in segment %} active {% endif %}">
										<a href="/Supplier-masters">
											<span  style="color:black;" class="sub-item">Supplier Master</span>
										</a>
									</li>
									<li class="{% if 'Currency-masters' in segment %} active {% endif %}">
										<a href="/Currency-masters">
											<span  style="color:black;" class="sub-item">Currency Master</span>
										</a>
									</li>
								</ul>
							</div>
						</li>
						
					</ul>
				{% else %}
					
				{% endif %}	
				</div>
			</div>
		</div>
        <!-- End Sidebar -->
        