{% extends "layouts/base.html" %}

{% block title %} Add User {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<div class="content">
		<div class="page-inner">
			<div class="page-header">
				<h4 class="page-title">OFFER</h4>
				<ul class="breadcrumbs">
					<li class="nav-home">
						<a href="/">
							<i class="flaticon-home"></i>
						</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="/offer-addoffer">Offers</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="/offer-offerlist">Add Offer</a>
					</li>
				</ul>
			</div>
			<div class="row">


				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<div class="card-title">Add Offers</div>
						</div>

						<form action='' method = "POST">
						<div class="card-body">
							<div class="row">
								<div class="col-md-6 col-lg-4">

							<div class="form-group">
							<tr>
							<label>Customer Name</label>
							<select name="main_usr_select" class="form-control input-fixed">
								{% for user in users %}
								<option>{{ user.customer_name }}</option>
								{% endfor %}

							</select>
							</tr>
							</div>


							<div class="form-group">
							<tr>
							<label>Reference No</label>
							<td><input type = "text" name = "usr_name" class="form-control" /></td>
							</tr>
							</div>


								</div>
								<div class="col-md-6 col-lg-4">
									<div class="form-group">
										<tr>
										<label >Due Date</label>
										<td><input type="date" id="start" name="trip-start"value="2018-07-22" min="2060-01-01" max="2018-12-31"></td>
										</tr>
									</div>
									<div class="form-group">
										<tr>
										<label>Marketing Person</label>
										<td><input type = "text" name = "usr_api_secret_key" class="form-control" /></td>
										</tr>
									</div>
								</div>



								<div class="col-md-6 col-lg-4">
									<div class="form-group">
										<tr>
										<label>Offer Type</label>
										<td>
										<select name="usr_autologin_status" class="form-control">
										<option value="YES">Spares</option>
										<option value="NO">Kits</option>
										</select>
										</td>
										</tr>
									</div>
									<div class="form-group">
										<tr>
										<label>Currency Type</label>
										<td><input type = "text" name = "usr_totp_key" class="form-control" /></td>
										</tr>
									</div>
								</div>
								


						<div class="card-action">
							<tr>
								<td colspan="3">
									<button class="btn btn-secondary" name="ui-buttons">Submit</button>
								</td>
								</tr>
						</div>
					</div>
				</div>
				</form>
			</div>
		</div>





		

	</div>
</div>
</div>
{% endblock content %}

{% block javascripts %}

{% endblock javascripts %}	
