{% extends "layouts/base.html" %}

{% block title %} Add User {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="content">
    <div class="page-inner">
        <div class="page-header">
            <h4 class="page-title">OFFER</h4>
            <ul class="breadcrumbs">
                <li class="nav-home">
                    <a href="/">
                        <i class="flaticon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a href="/offer-addoffer">Offers</a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a href="/offer-offerlist">Add Offer</a>
                </li>
            </ul>
        </div>
        <form action='' method="POST">


            <section class="content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header"> BOM Master Details </div>
                            <div class="card-body">
                                <div class="col-sm-12">
                                    <div class="row">

                                        <div class="form-group col-sm-8">
                                            <label for="serialNo">BOM Description<span style="color: red;">*</span>
                                            </label>
                                            <textarea rows="2" name="bom_description" class="form-control ng-untouched ng-pristine ng-invalid">{{bom_database.bom_description}}</textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-4"><label for="partNo">BOM No<span style="color: red;">*</span>
                                        </label>
                                            <input name="bom_no" type="text" maxlength="200" autocomplete="new-password" value="{{bom_database.bom_no}}"
                                                class="form-control ng-untouched ng-pristine ng-invalid">
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label>Model No</label>
                                            <input name="bom_model_no" type="text" maxlength="200" autocomplete="new-password" value="{{bom_database.bom_model_no}}"
                                                class="form-control ng-untouched ng-pristine ng-valid">
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label>CLS</label>
                                            <input name="bom_cls" type="text" maxlength="200" autocomplete="new-password" value="{{bom_database.bom_cls}}"
                                                class="form-control ng-untouched ng-pristine ng-valid">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-4">
                                            <label>No of Lube Points</label>
                                            <input name="bom_lube_points" type="text" maxlength="200" autocomplete="new-password" value="{{bom_database.bom_lube_points}}"
                                                class="form-control ng-untouched ng-pristine ng-valid">
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label>Type</label>
                                            <select name="bom_type" class="form-control ng-untouched ng-pristine ng-valid">
                                                <option value="">Select Type</option>
                                                <option value="hydraulic" {% if bom_database.bom_type == 'hydraulic' %}selected{% endif %}>hydraulic</option>
                                                <option value="Pneumatic" {% if bom_database.bom_type == 'Pneumatic' %}selected{% endif %}>Pneumatic</option>
                                                <option value="Electrical" {% if bom_database.bom_type == 'Electrical' %}selected{% endif %}>Electrical</option>
                                            </select>
                                        </div>
                                        
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-6">
                                            <label>Notes</label>
                                            <textarea rows="2" name="bom_notes" class="form-control ng-untouched ng-pristine ng-valid" autocomplete="new-password">{{bom_database.bom_notes}}</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="content">
                <div class="page-section">
                    <div class="card card-fluid">
                        <div class="card-body">
                            <table style="width: 100%;" id="emptbl">

                                <thead>
                                    <th>S.No<span style="color: red;">*</span></th>
                                    <th>Category<span style="color: red;">*</span>
                                    </th>
                                    <th>Product<span style="color: red;">*</span></th>
                                    <th>Quantity<span style="color: red;">*</span>
                                    </th>
                                    <th>UOM<span style="color: red;">*</span></th>
                                    <th><a class="btn btn-secondary active " onclick="myButtonClick()"><i
                                                class="fa fa-plus"></i></a></th>
                                </thead>
                                <tbody style="padding: 5%;">
                                    {% set bom_serial_no = bom_temp_data['bom_serial_no'] %}
                                    {% set bom_category = bom_temp_data['bom_category'] %}
                                    {% set bom_product = bom_temp_data['bom_product'] %}
                                    {% set bom_quantity = bom_temp_data['bom_quantity'] %}
                                    {% set bom_uom = bom_temp_data['bom_uom'] %}

                                    {% for i in range(bom_serial_no|length) %}
                                        {% set serial_no = bom_serial_no[i] %}
                                        {% set category = bom_category[i] %}
                                        {% set product = bom_product[i] %}
                                        {% set quantity = bom_quantity[i] %}
                                        {% set uom = bom_uom[i] %}
                                        <tr>
											<td style="width: 150px;">
                                            <input numberonly="" name="bom_serial_no" value="{{serial_no}}" autocomplete="new-password" class="form-control">
											</td>
											<td>
                                                <select name="bom_category" class="form-control">
                                                    {% for user in Bom_category %}
                                                    <option {% if user.bom_category_name == category %}selected{% endif %}>{{ user.bom_category_name }}</option>
                                                    {% endfor %}
                                                </select>
                                                                                            
											</td>
											<td>
                                            <select name="bom_product" class="form-control">
                                                {% for user in Product_category %}
                                                    <option {% if user.product_name == product %}selected{% endif %}>{{ user.product_name }}</option>
                                                {% endfor %}
                                            </select>
											</td>
											<td style="width: 150px;">
                                            <input numberonly="" name="bom_quantity" value="{{quantity}}" autocomplete="new-password" class="form-control">
                                        </td>
                                            <td>
                                                <select name="bom_uom" class="form-control ng-untouched ng-pristine ng-invalid">
                                                    <option value="">Select UOM</option>
                                                    <option value="Nos" {% if uom == 'Nos' %}selected{% endif %}>Nos</option>
                                                    <option value="Meters" {% if uom == 'Meters' %}selected{% endif %}>Meters</option>
                                                    <option value="Millimeter" {% if uom == 'Millimeter' %}selected{% endif %}>Millimeter</option>
                                                    <option value="Bundle" {% if uom == 'Bundle' %}selected{% endif %}>Bundle</option>
                                                    <option value="Pack" {% if uom == 'Pack' %}selected{% endif %}>Pack</option>
                                                    <option value="Kg" {% if uom == 'Kg' %}selected{% endif %}>Kg</option>
                                                    <option value="Set" {% if uom == 'Set' %}selected{% endif %}>Set</option>
                                                </select>
                                            </td>
											<td style="width: 5%;"> <a class="btn btn-secondary active" onclick="SomeDeleteRowFunction(this)">
                                                <i class="fas fa-trash-alt"> </i> </a> </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>

                            </table>
                        </div>
                        <hr class="mb-4">
                        <div style="text-align: center;">
                            <button id="btnSave" type="submit" class="btn btn-primary btn-sm">Save</button> &nbsp; 
                            <a routerlink="/BOM-masters" queryparamshandling="preserve" class="btn btn-danger btn-sm" href="/BOM-masters">Cancel </a></div>
                        <br>
                        <div class="card-footer"></div>
                    </div>
                </div>
            </section>

        </form>
    </div>
</div>
{% endblock content %}

{% block javascripts %}
<script>
    let lineNo = 1;

    function myButtonClick() {
        console.log("clask")
        var table = document.getElementById('emptbl');
        var rowCount = table.rows.length;
        console.log(rowCount)
        var cellCount = table.rows[0].cells.length;
        markup = $(`<tr>
                        <td style="width: 150px;">
                            <input numberonly="" name="bom_serial_no" autocomplete="new-password" class="form-control">
                        </td>
                        <td>
                            <select name="bom_category" class="form-control">
                                {% for user in Bom_category %}
                                <option>{{ user.bom_category_name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <select name="bom_product" class="form-control">
                                {% for user in Product_category %}
                                <option>{{ user.product_name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td style="width: 150px;">
                            <input numberonly="" name="bom_quantity" autocomplete="new-password" class="form-control">
                        </td>
                        <td style="width: 13%;">
                            <select name="bom_uom" class="form-control ng-untouched ng-pristine ng-invalid">
                                <option value="">Select UOM</option>
                                <option value="Nos">Nos</option>
                                <option value="Meters">Meters</option>
                                <option value="Millimeter">Millimeter</option>
                                <option value="Bundle">Bundle</option>
                                <option value="Pack">Pack</option>
                                <option value="Kg">Kg</option>
                                <option value="Set">Set</option>
                            </select></td>
                        <td style="width: 5%;"> <a class="btn btn-secondary active" onclick="SomeDeleteRowFunction(this)" id=' + lineNo + '>
                                <i class="fas fa-trash-alt"> </i> </a> </td>
                        </tr>`)
        tableBody = $("table tbody");
        tableBody.append(markup);
        lineNo++;
    }


    function SomeDeleteRowFunction(btndel) {
        if (typeof (btndel) == "object") {
            $(btndel).closest("tr").remove();
        }
        else {
            return false;
        }
    }
</script>

<style>
    th,
    td {
        border: 1px solid black;
        padding: 5px;
    }

    .container[_ngcontent-owj-c93] {
        width: 100%
    }
</style>

<style>
    .bs-example {
        margin: 20px;
    }

    .form-control:focus {
        border-color: #ff80ff;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(255, 100, 255, 0.5);
    }
</style>
{% endblock javascripts %}