{% extends "layouts/base.html" %}

{% block title %} Add User {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="content">
    <div class="page-inner">
        <div class="page-header">
            <h4 class="page-title">OFFER</h4>
            <ul class="breadcrumbs">
                <li class="nav-home">
                    <a href="/">
                        <i class="flaticon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a href="/offer-addoffer">USERS</a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a href="/offer-offerlist">Add User</a>
                </li>
            </ul>
        </div>
        <form action='' method="POST">

            <section class="content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header"> Add User </div>
                            <div class="card-body">
                                <div class="col-sm-12">
                                    <p><b>User Details:-</b></p>
                                    <hr>
                                    <div class="row">
                                        <div class="form-group col-sm-4">
                                            <label>First Name<span style="color: red;">*</span>
                                            </label>
                                            <input name="user_first_name" value="{{users.user_first_name}}" type="text" maxlength="200" autocomplete="new-password" class="form-control">
                                        </div>

                                        <div class="form-group col-sm-4">
                                            <label>Last Name</label>
                                            <input name="user_last_name" value="{{users.user_last_name}}" type="text" maxlength="200" autocomplete="new-password" class="form-control">
                                        </div>

                                        <div class="form-group col-sm-4">
                                            <label>Contact No</label>
                                            <input name="user_contact_no" value="{{users.user_contact_no}}" type="text" maxlength="200" autocomplete="new-password" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-4">
                                            <label>Email ID</label>
                                            <input name="user_email_id" value="{{users.user_email_id}}" type="email" maxlength="200" autocomplete="new-password" class="form-control">
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label>User Name<span style="color: red;">*</span></label>
                                            <input name="user_name_master" value="{{users.user_name_master}}" type="text" maxlength="200" autocomplete="new-password" class="form-control">
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label>Password<span style="color: red;">*</span></label>
                                            <input name="password_master" id="password_master" {% if users.password_master %}value="{{ users.password_master }}"{% endif %} type="password" maxlength="200" autocomplete="new-password" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row">
                                       
                                        <div class="form-group col-sm-4">
                                            <label>Confirm Password<span style="color: red;">*</span></label>
                                            <input name="confirm_password" id="confirm_password" {% if users.confirm_password %}value="{{ users.confirm_password }}"{% endif %} type="password" maxlength="200" autocomplete="new-password" class="form-control">

                                        </div>  
                                        <div class="form-group col-sm-4">
                                            <label>User Role<span style="color: red;">*</span></label>
                                            <select name="user_role_master" class="form-control">
                                                <option value="">Select Role</option>
                                                {% for user in role_master %}
                                                    {% if user.role_name == users.user_role_master %}
                                                        <option value="{{ user.role_name }}" selected>{{ user.role_name }}</option>
                                                    {% else %}
                                                        <option value="{{ user.role_name }}">{{ user.role_name }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>

                                        <div class="form-group col-sm-4">
                                            <label>Reporting To</label>
                                            <select name="user_reporting_person" class="form-control">
                                                <option value="None">Select Reporting Person</option>
                                                {% for user in user_master_login %}
                                                    {% if user.user_first_name == users.user_reporting_person %}
                                                        <option value="{{ user.user_first_name }}" selected>{{ user.user_first_name }}</option>
                                                    {% else %}
                                                        <option value="{{ user.user_first_name }}">{{ user.user_first_name }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <hr class="mb-4">
                                <div style="text-align: center;">
                                    <button id="btnSave" type="submit" class="btn btn-primary btn-sm">Save</button> &nbsp;
                                    <a routerlink="/User-masters" queryparamshandling="preserve" class="btn btn-danger btn-sm" href="/User-masters">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </form>
    </div>
</div>
{% endblock content %}

{% block javascripts %}
<script>
    let lineNo = 1;

    function myButtonClick() {
        console.log("clask")
        var table = document.getElementById('emptbl');
        var rowCount = table.rows.length;
        console.log(rowCount)
        var cellCount = table.rows[0].cells.length;
        markup = $('<tr _ngcontent-owj-c93=""> <td _ngcontent-owj-c93="" style="width: 400px;"><ng-select _ngcontent-owj-c93="" bindlabel="value" bindvalue="id" class="ng-select ng-select-single ng-select-searchable ng-select-clearable ng-touched ng-dirty ng-valid ng-select-top"> <input _ngcontent-owj-c93="" numberonly="" class="form-control ng-touched ng-dirty ng-valid"> </ng-select></td> <td _ngcontent-yms-c134="" style="width: 5%;"> <a _ngcontent-yms-c134="" class="btn btn-secondary active" onclick="SomeDeleteRowFunction(this)" id=' + lineNo + '> <i _ngcontent-yms-c134="" class="fas fa-trash-alt"> </i> </a> </td> </tr>')
        tableBody = $("table tbody");
        tableBody.append(markup);
        lineNo++;
    }


    function SomeDeleteRowFunction(btndel) {
        if (typeof (btndel) == "object") {
            $(btndel).closest("tr").remove();
        }
        else {
            return false;
        }
    }

    // Password validation
    $(document).ready(function() {
        $('#btnSave').click(function() {
            var password = $('#password_master').val();
            var confirmPassword = $('#confirm_password').val();
            if (password !== confirmPassword) {
                console.log(password,confirmPassword)
                alert('Password and Confirm Password must match.');
                return false;
            }
        });
    });
</script>

<style>
    th,
    td {
        border: 1px solid black;
        padding: 5px;
    }

    .container[_ngcontent-owj-c93] {
        width: 100%
    }
</style>

<style>
    .bs-example {
        margin: 20px;
    }

    .form-control:focus {
        border-color: #ff80ff;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(255, 100, 255, 0.5);
    }
</style>
{% endblock javascripts %}
