{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
    table {
      width: 100%;
      border-collapse: collapse;
    }
  
    th,
    td {
      padding: 8px;
      border: 1px solid black;
    }
  
    .delete-row {
      background-color: #ff0000;
      color: #ffffff;
      border: none;
      padding: 5px 10px;
      cursor: pointer;
    }
  
    #calculation-container {
      margin-top: 20px;
    }
  
    #calculation-container label {
      font-weight: bold;
      margin-right: 10px;
    }
  
    #calculation-container input[type="number"] {
      width: 80px;
    }
  
  </style>
  {% endblock stylesheets %}

{% block content %}
<div class="content">
    <div class="page-inner">
        
        <form action='' method="POST">
			<section class="content">
				<div class="page-section">
					<div class="card card-fluid">
						<div class="card-body">
							<div class="card-block">
								<div class="card-title">NEW Offer</div>
							</div>
							<div class="card-body">
								<div class="row">

									<div class="col-md-6 col-lg-4">
										<div class="form-group">
											<tr>
												<label>Customer Name</label>
												<select name="customer_name_offer" id="customer_name_offer" class="form-control select2">
													<option selected>Select Customer Name</option>
													{% for user in users %}
													<option {% if user.customer_name == addOffer_database.customer_name_offer %}selected{% endif %}>{{ user.customer_name }}</option>
													{% endfor %}
												</select>
											</tr>
										</div>
										<div class="form-group">
											<tr>
												<label>Address</label>
												<input type="text" name="customer_address" id="customer_address" class="form-control" readonly>
											</tr>
										</div>
										<div class="form-group">
											<label>Reference No</label>
											<input type="text" name="quotation_number_offer" id="quotation_number_offer" class="form-control"
												value="{% if Quatationnumber == 0 %}{{ addOffer_database.quotation_number_offer }}{% else %}{{ Quatationnumber }}{% endif %}"
												readonly />
										</div>
									</div>

									<div class="col-md-6 col-lg-4">
										<div class="form-group">
											<tr>
												<label>Due Date</label>
												<td>
													<input type="date" name="due_date_offer" id="due_date_offer"
													value="{{addOffer_database.due_date_offer}}" class="form-control">
												</td>
											</tr>
										</div>

										<div class="form-group">
											<tr>
												<label for="marketing_Person_offer">Marketing Person</label>
												<td>
													<select name="marketing_Person_offer" id="marketing_Person_offer" class="form-control">
														<option >Select Marketing Person</option>
														{% for user in role_manager_offer %}
														  <option {% if user.user_first_name == addOffer_database.marketing_person_offer %}selected{% endif %}>{{ user.user_first_name }}</option>
														{% endfor %}
													  </select>													  
												</td>
											</tr>
										</div>
									</div>

									<div class="col-md-6 col-lg-4">
										<div class="form-group">
											<tr>
												<label>Currency Type</label>
												<td>
													<select name="currency_type_offer" id="currency_type_offer" class="form-control">
														<option value="" selected>Select Currency Type</option>
														{% for currency in ['INR', 'USD', 'EUR', 'GBP', 'JPY', 'CAD', 'AUD', 'CHF', 'CNY', 'RUB', 'BRL'] %}
															<option value="{{ currency }}" {% if currency == addOffer_database.currency_type_offer %}selected{% endif %}>{{ currency }}</option>
														{% endfor %}
													</select>
												</td>
											</tr>											
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		<section class="content">
			<div class="page-section">
				<div class="card card-fluid">
					<div class="card-body">
						<table style="width: 100%;" id="product-table">
							<thead>
								<tr>
									<th>Name</th>
									<th>Quantity</th>
									<th>Unit Price</th>
									<th>UOM</th>
									<th>Total Price</th>
									<th><a id="add-row" class="form-control button-like"
											style="background-color: rgb(77, 228, 77); cursor: pointer;">Add Row</a></th>
								</tr>
							</thead>
							<tbody>
								{% if offer_json is not none %}
								{% for offer in offer_json %}
									<tr>
										<td>
											<input class="form-control" name="product" value="{{ offer['product_name'] }}" style="width: 500px;">
										</td>
										<td><input type="number" step="0.01" class="quantity form-control" placeholder="Quantity"
											value="{{ offer['quantity'] }}" name="quantity" /></td>
										<td><input type="number" step="0.01" class="unit-price form-control"
											value="{{ offer['unit_price'] }}" placeholder="Unit Price" name="unit_price" /></td>
										<td>
											<select name="offer_uom" class="form-control">
												<option value="">UOM</option>
												<option value="Nos">Nos</option>
												<option value="Meters">Meters</option>
												<option value="Millimeter">Millimeter</option>
												<option value="Bundle">Bundle</option>
												<option value="Pack">Pack</option>
												<option value="Kg">Kg</option>
												<option value="Set">Set</option>
											</select>
										</td>
										<td><span class="total-price form-control">{{ offer['total_price'] }}</span>
											<input type="hidden" id="totalPrice" name="totalPrice" value="0.00">
										</td>
			
										<td><button class="delete-row form-control">Delete</button></td>
									</tr>
								{% endfor %}
							{% endif %}
							{% if offer_json is none %}
							<tr class="product-row">
								<td>
									<input class="form-control" name="product" style="width: 500px;">
								</td>
								<td><input type="number" step="0.01" class="quantity form-control" placeholder="Quantity"
										name="quantity" /></td>
								<td><input type="number" step="0.01" class="unit-price form-control"
										placeholder="Unit Price" name="unit_price" /></td>
								<td>
									<select name="offer_uom" class="form-control">
										<option value="">UOM</option>
										<option value="Nos">Nos</option>
										<option value="Meters">Meters</option>
										<option value="Millimeter">Millimeter</option>
										<option value="Bundle">Bundle</option>
										<option value="Pack">Pack</option>
										<option value="Kg">Kg</option>
										<option value="Set">Set</option>
									</select>
								</td>
								<td><span class="total-price form-control"></span>
									<input type="hidden" id="totalPrice" name="totalPrice" value="0.00">
								</td>
	
								<td><button class="delete-row form-control">Delete</button></td>
							</tr>
							{% endif %}
							</tbody>
		
						</table>
					</div>
				</div>
		</section>
        
		<section class="content">
			<div id="calculation-container">
				<h3>Calculation</h3>
				<table class="table table-striped table-bordered table-lg">
					<tr>
						<th>Gross Amount:</th>
						<td></td>
						<td>
							<span id="gross-amount-display">{{addOffer_database.grossAmount}}</span>
							<input type="hidden" id="gross-amount" name="offer_grossAmount" value="0.00">
						</td>
					</tr>
					<tr>
						<th>Discount Type:</th>
						<td>
							<label><input type="radio" name="discountType" value="percentage" checked />Percentage</label>
							<label><input type="radio" name="discountType" value="value" />Value</label>
						</td>
						<td><input type="number" step="0.01" name="offer_discountValue" id="discountValue"
							value="{{addOffer_database.discountValue}}" class="form-control" style="width: 350px;" /></td>
					</tr>
					<tr>
						<th>Assessable Value:</th>
						<td></td>
						<td>
							<span id="assessable-Value-display">{{addOffer_database.assessableValue}}</span>
							<input type="hidden" id="assessableValue" name="offer_assessableValue" value="0.00">
						</td>
					</tr>
					<tr>
						<th>P&F Percentage:</th>
						<td><input type="number" step="0.01" id="pfPercentage" name="offer_pfPercentage" class="form-control"
							value="{{addOffer_database.pfPercentage}}" style="width: 350px;" /></td>
						<td>
							<span id="pfValue-display">{{addOffer_database.pfValue}}</span>
							<input type="hidden" id="pfValue" name="offer_pfValue" value="0.00">
						</td>
					</tr>
					<tr>
						<th>Freight Value:</th>
						<td><input type="number" step="0.01" id="freightValue" name="offer_freightValue" class="form-control"
							value="{{addOffer_database.freightValue}}" style="width: 350px;" /></td>
						<td>
							<span id="totalFreight-display">{{addOffer_database.totalFreight}}</span>
							<input type="hidden" id="totalFreight" name="offer_totalFreight" value="0.00">
						</td>
					</tr>
					<tr>
						<th>TCS Percentage:</th>
						<td><input type="number" step="0.01" id="tcsPercentage" name="offer_tcsPercentage"
							value="{{addOffer_database.tcsPercentage}}" class="form-control" style="width: 350px;" /></td>
						<td>
							<span id="tcsValue-display">{{addOffer_database.tcsValue}}</span>
							<input type="hidden" id="tcsValue" name="offer_tcsValue" value="0.00">
						</td>
					</tr>
					<tr>
						<th>GST Percentage:</th>
						<td><input type="number" step="0.01" id="gstPercentage" name="offer_gstPercentage"
							value="{{addOffer_database.gstPercentage}}" class="form-control" style="width: 350px;" /></td>
						<td>
							<span id="gstValue-display">{{addOffer_database.gstValue}}</span>
							<input type="hidden" id="gstValue" name="offer_gstValue" value="0.00">
					</tr>
					<tr>
						<th>Round Off Type:</th>
						<td>
							<label><input type="radio" name="roundOffType" value="addition" checked />Addition</label>
							<label><input type="radio" name="roundOffType" value="subtraction" />Subtraction</label>
						</td>
						<td><input type="number" step="0.01" id="roundOffValue" name="offer_roundOffValue"
							value="{{addOffer_database.roundOffValue}}" class="form-control" style="width: 350px;" /></td>
					</tr>
					<tr>
						<th>Grand Total:</th>
						<td></td>
						<td>
							<span id="grandTotal-display">{{addOffer_database.grandTotal}} </span>
							<input type="hidden" id="grandTotal" name="offer_grandTotal" value="0.00">
						</td>
					</tr>
				</table>
		</section>
          
        <section class="content">
			<div class="page-section">
				<div class="card card-fluid">
					<div class="card-body">
						<div class="form-group">
							<tr>
								<label>Subject</label>
								<td><input type="text" autocomplete="new-password" name="subject_offer" id="subject_offer"
									value="{{addOffer_database.subject_offer}}" class="form-control" required /></td>
							</tr>
						</div>
						<div class="form-group">
							<tr>
								<label>Reference</label>
								<td><input type="text" autocomplete="new-password" name="reference_offer"
									value="{{addOffer_database.reference_offer}}" id="reference_offer" class="form-control" required /></td>
							</tr>
						</div>
						<div class="form-group">
							<tr>
								<label>Description</label>
								<td><input type="text" autocomplete="new-password" name="description_offer"
									value="{{addOffer_database.description_offer}}" id="description_offer" class="form-control" required /></td>
							</tr>
						</div>
						<div class="form-group">
							<tr>
								<label>Footer Description</label>
								<td><input type="text" autocomplete="new-password" name="footer_description_offer"
									value="{{addOffer_database.footer_description_offer}}" id="footer_description_offer" class="form-control" /></td>
							</tr>
						</div>
						<div class="form-group">
							<tr>
								<label>Notes</label>
								<td><input type="text" autocomplete="new-password" name="notes_offer" id="notes_offer"
									value="{{addOffer_database.notes_offer}}" class="form-control" /></td>
							</tr>
						</div>
					</div>
				</div>
			</div>
		</section>
	
	
		<section class="content">
			<div class="page-section">
				<div class="card card-fluid" >
					<div class="card-body">
						<div class="card-header">
							<div class="card-title">Terms and Conditions :</div>
						</div>
						<div class="form-group">
							<tr>
								<label>Price Basis </label>
								<td><input type="text" autocomplete="new-password" name="price_basis_offer"
									value="{{addOffer_database.price_basis_offer}}" id="price_basis_offer" class="form-control" /></td>
							</tr>
						</div>
						<div class="form-group">
							<tr>
								<label>P&F Charges</label>
								<td><input type="text" autocomplete="new-password" name="PandFcharges_offer"
									value="{{addOffer_database.PandFcharges_offer}}" id="PandFcharges_offer" class="form-control" />
								</td>
							</tr>
						</div>
						<div class="form-group">
							<tr>
								<label>IGST</label>
								<td><input type="text" autocomplete="new-password" name="igst_terms_offer"
									value="{{addOffer_database.igst_terms_offer}}" id="igst_terms_offer" class="form-control" /></td>
							</tr>
						</div>
						<div class="form-group">
							<tr>
								<label>HSN CODE</label>
								<td><input type="text" autocomplete="new-password" name="hsn_code_offer" id="hsn_code_offer"
									value="{{addOffer_database.hsn_code_offer}}" class="form-control" /></td>
							</tr>
						</div>
						<div class="form-group">
							<tr>
								<label>Payment Terms</label>
								<td><input type="text" autocomplete="new-password" name="payment_terms_offer"
									value="{{addOffer_database.payment_terms_offer}}" id="payment_terms_offer" class="form-control" />
								</td>
							</tr>
						</div>
						<div class="form-group">
							<tr>
								<label>Delivery</label>
								<td><input type="text" autocomplete="new-password" name="delivery_terms_offer"
									value="{{addOffer_database.delivery_terms_offer}}" id="delivery_terms_offer" class="form-control" /></td>
							</tr>
						</div>
						<div class="form-group">
							<tr>
								<label>Freight</label>
								<td><input type="text" autocomplete="new-password" name="freight_terms_offer"
									value="{{addOffer_database.freight_terms_offer}}" id="freight_terms_offer" class="form-control" />
								</td>
							</tr>
						</div>
						<div class="form-group">
							<tr>
								<label>Validity</label>
								<td><input type="text" autocomplete="new-password" name="validity_terms_offer"
									value="{{addOffer_database.validity_terms_offer}}" id="validity_terms_offer" class="form-control" /></td>
							</tr>
						</div>
						<div class="form-group">
							<tr>
									<label>Warranty</label>
									<td><input type="text" autocomplete="new-password" id="warrenty_terms_offer"
										value="{{addOffer_database.warrenty_terms_offer}}" name="warrenty_terms_offer" class="form-control" /></td>
							</tr>
						</div>
						<div class="form-group">
						</div>
					</div>
				</div>
			</div>
	
			<div style="text-align: center;">
				<button type="submit" class="btn btn-primary btn-sm" fdprocessedid="11p0ic">Save</button>
				&nbsp;
				<a routerlink="/offer-offerlist" queryparamshandling="preserve" class="btn btn-danger btn-sm"
					href="/offer-offerlist">Cancel </a>
			</div>
	
		</section>
    </form>
    </div>
</div>
{% endblock content %}


{% block javascripts %}

<script>

    
    $(document).ready(function () {
    function calculateTotals() {
      var grossAmount = 0;
      $(".product-row").each(function () {
        var quantity = parseFloat($(this).find(".quantity").val());
        var unitPrice = parseFloat($(this).find(".unit-price").val());
        var totalPrice = quantity * unitPrice;
        $(this).find(".total-price").text(totalPrice.toFixed(2));
        $(this).find('input[type="hidden"]#totalPrice').val(totalPrice.toFixed(2));
        grossAmount += totalPrice;
      });
      console.log(grossAmount)
      $('#gross-amount-display').text(grossAmount.toFixed(2));
      $('#gross-amount').val(grossAmount.toFixed(2));

      var discountType = $('input[name="discountType"]:checked').val();
      var discountValue = parseFloat($("#discountValue").val()) || 0;
      var assessableValue = 0;

      if (discountType === "percentage") {
        assessableValue = grossAmount - (grossAmount * discountValue) / 100;
      } else if (discountType === "value") {
        assessableValue = grossAmount - discountValue;
      }

      var pfPercentage = parseFloat($("#pfPercentage").val()) || 0;
      var pfValue = (assessableValue * pfPercentage) / 100;
      var freightValue = parseFloat($("#freightValue").val()) || 0;
      var tcsPercentage = parseFloat($("#tcsPercentage").val()) || 0;
      var tcsValue = assessableValue + freightValue + pfValue + ((assessableValue+freightValue + pfValue) * tcsPercentage) / 100;
      var gstPercentage = parseFloat($("#gstPercentage").val()) || 0;
      var gstValue = (tcsValue * gstPercentage) / 100;
      var roundOffType = $('input[name="roundOffType"]:checked').val();
      var roundOffValue = parseFloat($("#roundOffValue").val()) || 0;
      var grandTotal = tcsValue + gstValue;

      if (roundOffType === "addition") {
        grandTotal += roundOffValue;
      } else if (roundOffType === "subtraction") {
        grandTotal -= roundOffValue;
      }
      
      $('#assessable-Value-display').text(assessableValue.toFixed(2));
      $('#assessableValue').val(assessableValue.toFixed(2));

      $("#pfValue-display").text(pfValue.toFixed(2));
      $("#pfValue").val(pfValue.toFixed(2));

      $("#totalFreight-display").text(freightValue.toFixed(2));
      $("#totalFreight").val(freightValue.toFixed(2));

      $("#tcsValue-display").text(tcsValue.toFixed(2));
      $("#tcsValue").val(tcsValue.toFixed(2));

      $("#gstValue-display").text(gstValue.toFixed(2));
      $("#gstValue").val(gstValue.toFixed(2));

      $("#grandTotal-display").text(grandTotal.toFixed(2));
      $("#grandTotal").val(grandTotal.toFixed(2));
    }

    $(document).ready(function () {

  $("#product-table").on("click", "#add-row", function () {
    var rowTemplate;
        rowTemplate = `
		<tr class="product-row">
									<td>
										<input class="form-control" name="product" style="width: 500px;">
									</td>
									<td><input type="number" step="0.01" class="quantity form-control" placeholder="Quantity" name="quantity" /></td>
									<td><input type="number" step="0.01" class="unit-price form-control" placeholder="Unit Price" name="unit_price" /></td>
									<td>
										<select name="offer_uom" class="form-control">
											<option value="">UOM</option>
											<option value="Nos">Nos</option>
											<option value="Meters">Meters</option>
											<option value="Millimeter">Millimeter</option>
											<option value="Bundle">Bundle</option>
											<option value="Pack">Pack</option>
											<option value="Kg">Kg</option>
											<option value="Set">Set</option>
										</select>
										</td>
									<td><span class="total-price form-control"></span>
										<input type="hidden" id="totalPrice" name="totalPrice" value="0.00">
									</td>
									
									<td><button class="delete-row form-control">Delete</button></td>
								</tr>
        `

    $("#product-table tbody").append(rowTemplate);
  });
});

    $(document).on("click", ".delete-row", function () {
      $(this).closest("tr").remove();
      calculateTotals();
    });

    $(document).on(
      "input",'.quantity, .unit-price, #pfPercentage, #freightValue, #tcsPercentage, #gstPercentage, #discountValue, #roundOffValue, input[name="discountType"], input[name="roundOffType"]',
      function () {
        calculateTotals();
      }
    );
  });

  $(document).ready(function () {
		var currentDate = new Date();
		var currentYear = currentDate.getFullYear().toString().substr(-2);
		var nextYear = (currentDate.getFullYear() + 1).toString().substr(-2);
		var originalValue = $("#quotation_number_offer").val();
		
		if (isNaN(originalValue)) {
			// Handle the case when originalValue is a string
			var updatedValue;
			if (originalValue.match(/_R_\d+$/)) {
				var number = parseInt(originalValue.match(/\d+$/)[0]);
				updatedValue = originalValue.replace(/\d+$/, number + 1);
			} else {
				updatedValue = originalValue + "_R_1";
			}
			console.log(updatedValue);
			$("#quotation_number_offer").val(updatedValue);
		} else {
			// Handle the case when originalValue is a number
			var updatedValue = "SRS/PR/" + originalValue + "/" + currentYear + "-" + nextYear;
			console.log(updatedValue);
			$("#quotation_number_offer").val(updatedValue);
		}
	});

  
</script>
<script>
	var addressMap = {
  {% for user in users %}
  "{{ user.customer_name }}": "{{ user.address }}",
  {% endfor %}
};

var customerNameSelect = document.getElementById('customer_name_offer');
var customerAddressInput = document.getElementById('customer_address');

$(document).ready(function() {
  customerNameSelect.onchange = function() {
    var selectedCustomer = customerNameSelect.value;
    if (selectedCustomer === "Select Customer Name") {
      customerAddressInput.value = "";
    } else {
      customerAddressInput.value = addressMap[selectedCustomer];
    }
  };

  customerNameSelect.onchange(); // Call the onchange function initially to set the customer_address based on the default option
});


</script>
{% endblock javascripts %}