{% extends "layouts/base.html" %}

{% block title %} Add User {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="content">
	<div class="page-inner">
		<div class="page-header">
			<h4 class="page-title">OFFER</h4>
			<ul class="breadcrumbs">
				<li class="nav-home">
					<a href="/">
						<i class="flaticon-home"></i>
					</a>
				</li>
				<li class="separator">
					<i class="flaticon-right-arrow"></i>
				</li>
				<li class="nav-item">
					<a href="/offer-addoffer">Offers</a>
				</li>
				<li class="separator">
					<i class="flaticon-right-arrow"></i>
				</li>
				<li class="nav-item">
					<a href="/offer-offerlist">Add Offer</a>
				</li>
			</ul>
		</div>
		<form action='' method="POST">

        <section class="content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="col-sm-12">
                                <p><b>Supplier Details:-</b></p>
                                <div class="row">
                                    <div class="form-group col-sm-4">
                                        <label>Supplier Name<span style="color: red;">*</span></label>
                                        <input name="supplier_name" value="{{users.supplier_name}}" class="form-control" type="text" maxlength="100" autocomplete="new-password">
                                    </div>

                                    <div class="form-group col-sm-4">
                                        <label>Primary Contact Person<span style="color: red;">*</span></label>
                                        <input name="supplier_primary_contact" value="{{users.supplier_primary_contact}}" class="form-control" type="text" maxlength="100" autocomplete="new-password">
                                    </div>

                                    <div class="form-group col-sm-4">
                                        <label>Secondary Contact Person</label>
                                        <input name="supplier_secondary_contact" value="{{users.supplier_secondary_contact}}" type="text" maxlength="100" autocomplete="new-password" class="form-control">
                                    </div>

                                    <div class="form-group col-sm-4">
                                        <label>Email ID</label>
                                        <input name="supplier_email_id" value="{{users.supplier_email_id}}" type="text" maxlength="200"  autocomplete="new-password" class="form-control">
                                    </div>

                                    <div class="form-group col-sm-4">
                                        <label>Contact No</label>
                                        <input name="supplier_contact_no" value="{{users.supplier_contact_no}}" type="text" maxlength="200"  autocomplete="new-password" class="form-control">
                                    </div>

                                    <div class="form-group col-sm-4">
                                        <label>Country</label>
                                        <td>
                                            <select name="supplier_country" class="form-control">
                                                <option value="">Select Country</option>
                                                {% for user in Country_master %}
                                                    {% if user.country_name_temp == users.supplier_country %}
                                                        <option value="{{ user.country_name_temp }}" selected>{{ user.country_name_temp }}</option>
                                                    {% else %}
                                                        <option value="{{ user.country_name_temp }}">{{ user.country_name_temp }}</option>
                                                    {% endif %}
                                                {% endfor %}

                                            </select>
                                        </td>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="form-group col-sm-4">
                                        <label>State</label>
                                        <td>
                                            <select name="supplier_state" class="form-control">
                                                <option value="">Select State</option>
                                                {% for user in State_masters %}
                                                    {% if user.state_name_temp == users.supplier_state %}
                                                        <option value="{{ user.state_name_temp }}" selected>{{ user.state_name_temp }}</option>
                                                    {% else %}
                                                        <option value="{{ user.state_name_temp }}">{{ user.state_name_temp }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </td>
                                    </div>
                                    <div class="form-group col-sm-4">
                                        <label>City</label>
                                        <td>
                                            <select name="supplier_city" class="form-control">
                                                <option value="">Select City</option>
                                                {% for user in Citymaster_main %}
                                                    {% if user.city_name == users.supplier_city %}
                                                        <option value="{{ user.city_name }}" selected>{{ user.city_name }}</option>
                                                    {% else %}
                                                        <option value="{{ user.city_name }}">{{ user.city_name }}</option>
                                                    {% endif %}
                                                {% endfor %}

                                            </select>
                                        </td>
                                    </div>

                                    <div class="form-group col-sm-4">
                                        <label>Address</label>
                                        <textarea name="supplier_address" class="form-control" autocomplete="new-password">{{users.supplier_address}}</textarea>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="form-group col-sm-4">
                                        <label>GST No</label>
                                        <input name="supplier_gst_no" value="{{users.supplier_gst_no}}" type="text" maxlength="200"  autocomplete="new-password" class="form-control">
                                    </div>

                                    <div class="form-group col-sm-4">
                                        <label>PAN No</label>
                                        <input name="supplier_pan" value="{{users.supplier_pan}}" type="text" maxlength="200"  autocomplete="new-password" class="form-control">
                                    </div>

                                </div>

                            </div>
                            <hr class="mb-4">
                            <div style="text-align: center;">
                                <button id="btnSave"  type="submit" class="btn btn-primary btn-sm">Save</button> &nbsp; 
                                <a routerlink="/Supplier-masters" queryparamshandling="preserve" class="btn btn-danger btn-sm" href="/Supplier-masters">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

            
		</form>
	</div>
</div>
{% endblock content %}

{% block javascripts %}
<style>
	th,
	td {
		border: 1px solid black;
		padding: 5px;
	}

	.container[_ngcontent-owj-c93] {
		width: 100%
	}
</style>

<style>
	.bs-example {
		margin: 20px;
	}

	.form-control:focus {
		border-color: #ff80ff;
		box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(255, 100, 255, 0.5);
	}
</style>
{% endblock javascripts %}