{% extends "layouts/base.html" %}

{% block title %} Add User {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<head>
    <!-- Include the Select2 CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />

    <!-- Include jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Include the Select2 JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
</head>

<div class="content">
	<div class="page-inner">
		<div class="page-header">
			<h4 class="page-title">OFFER</h4>
			<ul class="breadcrumbs">
				<li class="nav-home">
					<a href="/">
						<i class="flaticon-home"></i>
					</a>
				</li>
				<li class="separator">
					<i class="flaticon-right-arrow"></i>
				</li>
				<li class="nav-item">
					<a href="/offer-addoffer">Offers</a>
				</li>
				<li class="separator">
					<i class="flaticon-right-arrow"></i>
				</li>
				<li class="nav-item">
					<a href="/offer-offerlist">Add Offer</a>
				</li>
			</ul>
		</div>
		<form action='' method="POST">
			<section class="content">
				<div class="page-section">
					<div class="card card-fluid">
						<div class="card-body">
							<div class="card-block">
								<div class="card-title">Add Offers</div>
							</div>
							<div class="card-body">
								<div class="row">

									<div class="col-md-6 col-lg-4">
										<div class="form-group">
											<tr>
												<label>Customer Name</label>
												<select name="customer_name_offer" id="customer_name_offer" class="form-control select2">
													<option selected>Select Customer Name</option>
													{% for user in users %}
													<option {% if user.customer_name == addOffer_database.customer_name_offer %}selected{% endif %}>{{ user.customer_name }}</option>
													{% endfor %}
												</select>
											</tr>
										</div>
										<div class="form-group">
											<tr>
												<label>Address</label>
												<input type="text" name="customer_address" id="customer_address" class="form-control" readonly>
											</tr>
										</div>
										<div class="form-group">
											<label>Reference No</label>
											<input type="text" name="quotation_number_offer" id="quotation_number_offer" class="form-control"
												value="{% if Quatationnumber == 0 %}{{ addOffer_database.quotation_number_offer }}{% else %}{{ Quatationnumber }}{% endif %}"
												readonly />
										</div>
									</div>

									<div class="col-md-6 col-lg-4">
										<div class="form-group">
											<tr>
												<label>Due Date</label>
												<td>
													<input type="date" name="due_date_offer" id="due_date_offer"
													value="{{addOffer_database.due_date_offer}}" class="form-control">
												</td>
											</tr>
										</div>

										<div class="form-group">
											<tr>
												<label for="marketing_Person_offer">Marketing Person</label>
												<td>
													<select name="marketing_Person_offer" id="marketing_Person_offer" class="form-control">
														<option >Select Marketing Person</option>
														{% for user in role_manager_offer %}
														  <option {% if user.user_first_name == addOffer_database.marketing_person_offer %}selected{% endif %}>{{ user.user_first_name }}</option>
														{% endfor %}
													  </select>													  
												</td>
											</tr>
										</div>
									</div>

									<div class="col-md-6 col-lg-4">
										<div class="form-group">
											<tr>
												<label>Offer Type</label>
												<td>
													<select name="offer_type_offer" id="offer_type_offer" class="form-control offer_type_offer">
														<option selected>Add offer</option>
														<option {% if "Spares" == addOffer_database.offer_type_offer %}selected{% endif %} value="Spares">Spares</option>
														<option {% if "Kits" == addOffer_database.offer_type_offer %}selected{% endif %} value="Kits">Kits</option>
													  </select>													  
												</td>
											</tr>
										</div>
										<div class="form-group">
											<tr>
												<label>Currency Type</label>
												<td>
													<select name="currency_type_offer" id="currency_type_offer"
														class="form-control">
														<option value="" selected>Select Currency Type</option>
														{% for user in currency_master_offer %}
														<option {% if user.currency_name == addOffer_database.currency_type_offer %}selected{% endif %}>{{ user.currency_name }}</option>
														{% endfor %}
													</select>
												</td>
											</tr>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>


			<section class="content">
				<div class="page-section">
					<div class="card card-fluid">
						<div class="card-body">
							<table id="product-table" class="table">

							</table>
						</div>
					</div>
				</div>
			</section>

			<section class="content">
				<div class="page-section">
					<div class="card card-fluid">
						<div class="card-header"> Claculations </div>
						<div class="card-body">
							<table class="table table-light table-striped">
								<tr>
									<th>Gross Amount:</th>
									<td></td>
									<td><input type="number"
											style="height: 50px !important; background-color: transparent !important; color: black !important;"
											value="{{addOffer_database.grossAmount}}" class="form-control" id="grossAmount" name="grossAmount" step="0.01" readonly></td>
								</tr>
								<tr>
									<th>Discount Type:</th>
									<td>
										<input type="radio" name="discountType" value="percentage" checked>Percentage
										<input type="radio" name="discountType" value="value">Value
									</td>
									<td><input type="number" style="height: 50px !important;" class="form-control" name="discountValue"
										value="{{addOffer_database.discountValue}}" id="discountValue" step="0.01" required></td>
								</tr>
								<tr>
									<th>Total Assessable Value:</th>
									<td></td>
									<td><input type="number"
											style="height: 50px !important; background-color: transparent !important; color: black !important;"
											value="{{addOffer_database.assessableValue}}" class="form-control" name="assessableValue" id="assessableValue" readonly></td>
								</tr>
								<tr>
									<th>P & F %:</th>
									<td><input type="number" style="height: 50px !important;" class="form-control"
										value="{{addOffer_database.pfPercentage}}" id="pfPercentage" name="pfPercentage" step="0.01" required></td>
									<td><input type="number"
											style="height: 50px !important; background-color: transparent !important; color: black !important;"
											value="{{addOffer_database.pfValue}}" class="form-control" id="pfValue" name="pfValue" readonly></td>
								</tr>
								<tr>
									<th>Freight:</th>
									<td><input type="number" style="height: 50px !important;" class="form-control"
										value="{{addOffer_database.freightValue}}" id="freightValue" name="freightValue" step="0.01" required></td>
									<td><input type="number"
											style="height: 50px !important; background-color: transparent !important; color: black !important;"
											value="{{addOffer_database.totalFreight}}" class="form-control" name="totalFreight" id="totalFreight" readonly></td>
								</tr>
								<tr>
									<th>TCS %:</th>
									<td><input type="number" style="height: 50px !important;" class="form-control"
										value="{{addOffer_database.tcsPercentage}}" id="tcsPercentage" name="tcsPercentage" step="0.01" required></td>
									<td><input type="number" class="form-control"
											style="height: 50px !important; background-color: transparent !important; color: black !important;"
											value="{{addOffer_database.tcsValue}}" id="tcsValue" name="tcsValue" readonly></td>
								</tr>
								<tr>
									<th>GST %:</th>
									<td>
									  <div class="d-flex align-items-center">
										<select class="form-control mr-2" id="gstType" name="gstType">
										  <option value="IGST" {% if addOffer_database.gstType == 'IGST' %}selected{% endif %}>IGST</option>
										  <option value="CGST" {% if addOffer_database.gstType == 'CGST' %}selected{% endif %}>CGST</option>
										</select>
										<input type="number" class="form-control" style="height: 50px !important;"
											   value="{{ addOffer_database.gstPercentage }}" id="gstPercentage" name="gstPercentage" step="0.01" required>
									  </div>
									</td>
									<td>
									  <input type="number" style="height: 50px !important; background-color: transparent !important; color: black !important;"
											 value="{{ addOffer_database.gstValue }}" class="form-control" name="gstValue" id="gstValue" readonly>
									</td>
								  </tr>
								  
								  
								<tr>
									<th>Round Off Type:</th>
									<td>
										<input type="radio" name="roundOffType" value="addition" checked>Addition
										<input type="radio" name="roundOffType" value="subtraction">Subtraction
									</td>
									<td><input type="number" class="form-control" style="height: 50px !important;"
										value="{{addOffer_database.roundOffValue}}" id="roundOffValue" name="roundOffValue"step="0.01" required></td>
								</tr>
								<tr>
									<th>Grand Total:</th>
									<td></td>
									<td><input type="number" class="form-control"
											style="height: 50px !important; background-color: transparent !important; color: black !important;"
											value="{{addOffer_database.grandTotal}}" id="grandTotal" name="grandTotal" readonly></td>
								</tr>
							</table>
						</div>
					</div>
				</div>

	</section>


	<section class="content">
		<div class="page-section">
			<div class="card card-fluid">
				<div class="card-body">
					<div class="form-group">
						<tr>
							<label>Subject</label>
							<td><input type="text" autocomplete="new-password" name="subject_offer" id="subject_offer"
								value="{{addOffer_database.subject_offer}}" class="form-control" required /></td>
						</tr>
					</div>
					<div class="form-group">
						<tr>
							<label>Reference</label>
							<td><input type="text" autocomplete="new-password" name="reference_offer"
								value="{{addOffer_database.reference_offer}}" id="reference_offer" class="form-control" required /></td>
						</tr>
					</div>
					<div class="form-group">
						<tr>
							<label>Description</label>
							<td><input type="text" autocomplete="new-password" name="description_offer"
								value="{{addOffer_database.description_offer}}" id="description_offer" class="form-control" required /></td>
						</tr>
					</div>
					<div class="form-group">
						<tr>
							<label>Footer Description</label>
							<td><input type="text" autocomplete="new-password" name="footer_description_offer"
								value="{{addOffer_database.footer_description_offer}}" id="footer_description_offer" class="form-control" /></td>
						</tr>
					</div>
					<div class="form-group">
						<tr>
							<label>Notes</label>
							<td><input type="text" autocomplete="new-password" name="notes_offer" id="notes_offer"
								value="{{addOffer_database.notes_offer}}" class="form-control" /></td>
						</tr>
					</div>
				</div>
			</div>
		</div>
	</section>


	<section class="content">
		<div class="page-section">
			<div class="card card-fluid" >
				<div class="card-body">
					<div class="card-header">
						<div class="card-title">Terms and Conditions :</div>
					</div>
					<div class="form-group">
						<tr>
							<label>Price Basis </label>
							<td><input type="text" autocomplete="new-password" name="price_basis_offer"
								value="{{addOffer_database.price_basis_offer}}" id="price_basis_offer" class="form-control" /></td>
						</tr>
					</div>
					<div class="form-group">
						<tr>
							<label>P&F Charges</label>
							<td><input type="text" autocomplete="new-password" name="PandFcharges_offer"
								value="{{addOffer_database.PandFcharges_offer}}" id="PandFcharges_offer" class="form-control" />
							</td>
						</tr>
					</div>
					<div class="form-group">
						<tr>
							<label>IGST</label>
							<td><input type="text" autocomplete="new-password" name="igst_terms_offer"
								value="{{addOffer_database.igst_terms_offer}}" id="igst_terms_offer" class="form-control" /></td>
						</tr>
					</div>
					<div class="form-group">
						<tr>
							<label>HSN CODE</label>
							<td><input type="text" autocomplete="new-password" name="hsn_code_offer" id="hsn_code_offer"
								value="{{addOffer_database.hsn_code_offer}}" class="form-control" /></td>
						</tr>
					</div>
					<div class="form-group">
						<tr>
							<label>Payment Terms</label>
							<td><input type="text" autocomplete="new-password" name="payment_terms_offer"
								value="{{addOffer_database.payment_terms_offer}}" id="payment_terms_offer" class="form-control" />
							</td>
						</tr>
					</div>
					<div class="form-group">
						<tr>
							<label>Delivery</label>
							<td><input type="text" autocomplete="new-password" name="delivery_terms_offer"
								value="{{addOffer_database.delivery_terms_offer}}" id="delivery_terms_offer" class="form-control" /></td>
						</tr>
					</div>
					<div class="form-group">
						<tr>
							<label>Freight</label>
							<td><input type="text" autocomplete="new-password" name="freight_terms_offer"
								value="{{addOffer_database.freight_terms_offer}}" id="freight_terms_offer" class="form-control" />
							</td>
						</tr>
					</div>
					<div class="form-group">
						<tr>
							<label>Validity</label>
							<td><input type="text" autocomplete="new-password" name="validity_terms_offer"
								value="{{addOffer_database.validity_terms_offer}}" id="validity_terms_offer" class="form-control" /></td>
						</tr>
					</div>
					<div class="form-group">
						<tr>
								<label>Warranty</label>
								<td><input type="text" autocomplete="new-password" id="warrenty_terms_offer"
									value="{{addOffer_database.warrenty_terms_offer}}" name="warrenty_terms_offer" class="form-control" /></td>
						</tr>
					</div>
					<div class="form-group">
					</div>
				</div>
			</div>
		</div>

		<div style="text-align: center;">
			<button type="submit" class="btn btn-primary btn-sm" fdprocessedid="11p0ic">Save</button>
			&nbsp;
			<a routerlink="/offer-offerlist" queryparamshandling="preserve" class="btn btn-danger btn-sm"
				href="/offer-offerlist">Cancel </a>
		</div>

	</section>


	</form>
</div>
{% endblock content %}

{% block javascripts %}

<script>
	var addressMap = {
  {% for user in users %}
  "{{ user.customer_name }}": "{{ user.address }}",
  {% endfor %}
};

var customerNameSelect = document.getElementById('customer_name_offer');
var customerAddressInput = document.getElementById('customer_address');

$(document).ready(function() {
  customerNameSelect.onchange = function() {
    var selectedCustomer = customerNameSelect.value;
    if (selectedCustomer === "Select Customer Name") {
      customerAddressInput.value = "";
    } else {
      customerAddressInput.value = addressMap[selectedCustomer];
    }
  };

  customerNameSelect.onchange(); // Call the onchange function initially to set the customer_address based on the default option
});


</script>


<script>
	// Initialize Select2
	$(document).ready(function() {
		$('.select2').select2();
	});
</script>
<script>


	function addProductRow() {
	const tableBody = document.querySelector('#product-table tbody');
	const newRow = document.createElement('tr');
	newRow.innerHTML = `
		<td>
		<select name="product_offer" class="form-control">
			{% for user in user1 %}
			<option>{{ user.product_name }}</option>
			{% endfor %}
		</select>
		</td>
		<td>
		<input type="number" name="quantity_product_offer" id="quantity" class="quantity form-control" value="0">
		</td>
		<td>
		<input type="number" name="unit_price_product_offer" id="quantity" class="unit-price form-control" value="0">
		</td>
		<td>
		<select name="uom_type" class="form-control ng-untouched ng-pristine ng-invalid" style="width: auto; background-color: #f2f2f2; color: #333; padding: 5px;">
			<option value="">UOM </option>
			<option value="Nos">Nos</option>
			<option value="Meters">Meters</option>
			<option value="Millimeter">Millimeter</option>
			<option value="Bundle">Bundle</option>
			<option value="Pack">Pack</option>
			<option value="Kg">Kg</option>
			<option value="Set">Set</option>
		</select>
		</td>
		<td>
		<input type="text" id="total" name="total" class="total form-control" value="0" readonly>
		</td>
		<td>
		<button class="btn btn-danger" onclick="removeProductRow(this)">Remove</button>
		</td>
	`;

	tableBody.appendChild(newRow);

	const quantityInput = newRow.querySelector('.quantity');
	const unitPriceInput = newRow.querySelector('.unit-price');

	quantityInput.addEventListener('input', updateTotal);
	unitPriceInput.addEventListener('input', updateTotal);

	updateTotal();
	}


	function getKitDetails(newRow) {
		const kitDescription = $('#kit_name_sample').val();
		$.ajax({
			url: '/get_kit_details',
			type: 'POST',
			data: { kit_description: kitDescription },
			success: function (response) {
				const kitNo = response.kit_no;
				const kitNames = response.kit_product;

				kitNames.unshift(kitDescription);

				// update the HTML elements with the new values
				const kitProductMainInput = newRow.querySelector('.kit_description_offer');
				const kitProductNumberInput = newRow.querySelector('.kit_number_offer');
				kitProductMainInput.value = kitNames.join('\n');
				kitProductNumberInput.value = kitNo;

				// Print kit names line by line
				kitNames.forEach(function (kitName) {
					console.log(kitName);
				});
			},
		});
	}




	function addKitRow() {
		const tableBody = document.querySelector('#product-table tbody');
		const newRow = document.createElement('tr');
		const selectedKit = document.querySelector('#kit_name_sample').value;
		// ${selectedKitNo}	
		newRow.innerHTML = `
		<td style="width: 350px; padding: 10px !important;">
			<textarea id="kit_description_offer" name="kit_description_offer" class="kit_description_offer form-control" readonly style="height: 360px !important; width: 100%; resize: none;"></textarea>
		</td>

		<td><input id="kit_number_offer" name="kit_number_offer" class="kit_number_offer form-control" value="0" readonly></td>
		<td><input type="number" id="quantity_kit_offer" name="quantity_kit_offer" class="quantity form-control" value="0"></td>
		
		<td><input type="number" id="unit_price_kit_offer" name="unit_price_kit_offer" class="unit-price form-control" value="0"></td>
		<td><select name="uom_type" style="width: auto; background-color: #f2f2f2; color: #333; padding: 5px;" class="form-control ng-untouched ng-pristine ng-invalid">
				<option value="">UOM </option>
				<option value="Nos">Nos</option>
				<option value="Meters">Meters</option>
				<option value="Millimeter">Millimeter</option>
				<option value="Bundle">Bundle</option>
				<option value="Pack">Pack</option>
				<option value="Kg">Kg</option>
				<option value="Set">Set</option>
			</select></td>
		<td><input type="text" id="total" name="total" class="total form-control" value="0" readonly></td>
		<td><button class="btn btn-danger" onclick="removeProductRow(this)">Remove</button></td>
		`;
		tableBody.appendChild(newRow);
		newRow.querySelectorAll('.quantity, .unit-price').forEach(input => {
			input.addEventListener('input', updateTotal);
		});
		getKitDetails(newRow);
		const kitProductMainInput = newRow.querySelector('.kit_description_offer');
		const kitProductNumberInput = newRow.querySelector('.kit_number_offer');
		kitProductMainInput.value = $('#kit_description_offer').val();
		kitProductNumberInput.value = $('#kit_number_offer').val();
		// kitProductMainInput.style.height = kitProductMainInput.scrollHeight + 'px';
		updateTotal();

	}

	function removeProductRow(button) {
		const row = button.closest('tr');
		row.remove();
		updateTotal();
	}

	$(document).ready(function () {
		// Function to calculate and update the total
		function calculateTotal() {
			var grossAmount = parseFloat($('#grossAmount').val());
			var discountType = $('input[name="discountType"]:checked').val();
			var discountValue = parseFloat($('#discountValue').val());
			var assessableValue = 0;

			if (discountType === 'percentage') {
				assessableValue = grossAmount - (grossAmount * discountValue / 100);
			} else if (discountType === 'value') {
				assessableValue = grossAmount - discountValue;
			}

			var pfPercentage = parseFloat($('#pfPercentage').val());
			var pfValue = assessableValue * pfPercentage / 100;
			var freightValue = parseFloat($('#freightValue').val());
			var tcsPercentage = parseFloat($('#tcsPercentage').val());
			var tcsValue = (assessableValue + freightValue + pfValue) + tcsPercentage / 100;
			var gstPercentage = parseFloat($('#gstPercentage').val());
			var gstValue = tcsValue * gstPercentage / 100;
			var roundOffType = $('input[name="roundOffType"]:checked').val();
			var roundOffValue = parseFloat($('#roundOffValue').val());
			var grandTotal = tcsValue + gstValue;

			if (roundOffType === 'addition') {
				grandTotal += roundOffValue;
			} else if (roundOffType === 'subtraction') {
				grandTotal -= roundOffValue;
			}

			$('#assessableValue').val(assessableValue.toFixed(2));
			$('#pfValue').val(pfValue.toFixed(2));
			$('#totalFreight').val(freightValue.toFixed(2));
			$('#tcsValue').val(tcsValue.toFixed(2));
			$('#gstValue').val(gstValue.toFixed(2));
			$('#grandTotal').val(grandTotal.toFixed(2));
		}

		// Bind event handlers to calculate the total when input values change
		$('#grossAmount, input[name="discountType"], #discountValue, #pfPercentage, #freightValue, #tcsPercentage, #gstPercentage, input[name="roundOffType"], #roundOffValue').on('input', calculateTotal);

		// Trigger initial calculation
		calculateTotal();
	});

	function updateTotal() {
		const rows = $('#product-table tbody tr');
		let total = 0;

		rows.each(function () {
			const quantity = Number($(this).find('.quantity').val());
			const unitPrice = Number($(this).find('.unit-price').val());
			const rowTotal = quantity * unitPrice;
			$(this).find('.total').val(rowTotal);
			total += rowTotal;
		});

		$('#grossAmount').val(total);
	}



	document.querySelectorAll('.quantity, .unit-price').forEach(input => {
		input.addEventListener('input', updateTotal);
	});

	$(document).ready(function () {
    function offerTypeOnChange() {
        var selectedOption = $(".offer_type_offer").val();

        switch (selectedOption) {
            case "Spares":
                var table = document.getElementById('#product-table');
                var markup = $(`
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Unit Price</th>
                            <th>UOM</th>
                            <th>Total</th>
                            <th><a class="btn btn-success" onclick="addProductRow()" value="">Add Product</a></th>
                        </tr>
                    </thead>
                    <tbody>
					{% if offer_json is not none %}
					{% for offer in offer_json %}
						<tr>
							<td>
								<select name="product_offer" class="form-control">
									{% for user in user1 %}
										<option {% if user.product_name == offer['product_name'] %}selected{% endif %}>{{ user.product_name }}</option>
									{% endfor %}
								</select>
							</td>
							<td>
								<input type="number" value="{{ offer['quantity'] }}" name="quantity_product_offer" id="quantity" class="quantity form-control" onchange="updateTotalPrice(this)"  >
							</td>
							<td>
								<input type="number" value="{{ offer['unit_price'] }}" name="unit_price_product_offer" id="unit-price" class="unit-price form-control" value="0" onchange="updateTotalPrice(this)">
							</td>
							<td>
								<select name="uom_type" class="form-control ng-untouched ng-pristine ng-invalid" style="width: auto; background-color: #f2f2f2; color: #333; padding: 5px;">
									<option value="">UOM </option>
									<option {% if offer['uom'] == 'Nos' %}selected{% endif %} value="Nos">Nos</option>
									<option {% if offer['uom'] == 'Meters' %}selected{% endif %} value="Meters">Meters</option>
									<option {% if offer['uom'] == 'Millimeter' %}selected{% endif %} value="Millimeter">Millimeter</option>
									<option {% if offer['uom'] == 'Bundle' %}selected{% endif %} value="Bundle">Bundle</option>
									<option {% if offer['uom'] == 'Pack' %}selected{% endif %} value="Pack">Pack</option>
									<option {% if offer['uom'] == 'Kg' %}selected{% endif %} value="Kg">Kg</option>
									<option {% if offer['uom'] == 'Set' %}selected{% endif %} value="Set">Set</option>
								</select>
							</td>
							<td>
								<input type="number" value="{{ offer['total_price'] }}" id="total" name="total" class="total form-control" readonly>
							</td>
							<td>
								<button class="btn btn-danger" onclick="removeProductRow(this)">Remove</button>
							</td>
						</tr>
					{% endfor %}
				{% endif %}
				</tbody>

                `);
                var tableBody = $("#product-table");
                tableBody.empty();
                tableBody.append(markup);
                break;

            case "Kits":
                var table = document.getElementById('#product-table');
                var markup = $(`
                    <div class="card">
                        <div class="card-body">
                            <label for="kit_name_sample">Select a user:</label>

                            <select name="kit_name_sample" id="kit_name_sample" class="form-control">
                                {% for user in user2 %}
                                <option value="{{ user.kit_description }}">{{ user.kit_description }}</option>
                                {% endfor %}
                            </select>

                            <a class="btn btn-success" onclick="addKitRow()" value="">Add kit</a>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Kit description*</th>
                                        <th>Kit No*</th>
                                        <th>Quantity*</th>
                                        <th>Unit Price*</th>
                                        <th>UOM</th>
                                        <th>Total Price</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
								<tbody>
								{% if offer_json is not none %}
								{% for offer in offer_json %}
                                <tbody>
                                    <td style="width: 350px; padding: 10px !important;">
										<textarea id="kit_description_offer" name="kit_description_offer" class="kit_description_offer form-control" readonly style="height: 360px !important; width: 100%; resize: none;">{{ offer['kit_name'] }}"</textarea>
									</td>

									<td><input value="{{ offer['part_number'] }}" id="kit_number_offer" name="kit_number_offer" class="kit_number_offer form-control" value="0" readonly></td>
									<td><input value="{{ offer['quantity'] }}" type="number" id="quantity_kit_offer" name="quantity_kit_offer" class="quantity form-control" value="0" onchange="updateTotalPrice(this)"></td>
									
									<td><input value="{{ offer['unit_price'] }}" type="number" id="unit_price_kit_offer" name="unit_price_kit_offer" class="unit-price form-control" value="0" onchange="updateTotalPrice(this)"></td>
									<td><select name="uom_type" style="width: auto; background-color: #f2f2f2; color: #333; padding: 5px;" class="form-control ng-untouched ng-pristine ng-invalid">
											<option value="">UOM </option>
											<option {% if offer['uom'] == 'Nos' %}selected{% endif %} value="Nos">Nos</option>
											<option {% if offer['uom'] == 'Meters' %}selected{% endif %} value="Meters">Meters</option>
											<option {% if offer['uom'] == 'Millimeter' %}selected{% endif %} value="Millimeter">Millimeter</option>
											<option {% if offer['uom'] == 'Bundle' %}selected{% endif %} value="Bundle">Bundle</option>
											<option {% if offer['uom'] == 'Pack' %}selected{% endif %} value="Pack">Pack</option>
											<option {% if offer['uom'] == 'Kg' %}selected{% endif %} value="Kg">Kg</option>
											<option {% if offer['uom'] == 'Set' %}selected{% endif %} value="Set">Set</option>
										</select></td>
									<td><input value="{{ offer['total_price'] }}" type="number" id="total" name="total" class="total form-control" value="0" readonly></td>
									<td><button class="btn btn-danger" onclick="removeProductRow(this)">Remove</button></td>
                                </tbody>
								{% endfor %}
								{% endif %}
								</tbody>
                            </table>
                        </div>
                    </div>
                `);
                var tableBody = $("#product-table");
                tableBody.empty();
                tableBody.append(markup);
                break;
        }
    }

    // Call the offerTypeOnChange function initially
    offerTypeOnChange();

    // Bind the offerTypeOnChange function to the onchange event of .offer_type_offer
    $(".offer_type_offer").on("change", offerTypeOnChange);
});


	$(document).ready(function () {
		var currentDate = new Date();
		var currentYear = currentDate.getFullYear().toString().substr(-2);
		var nextYear = (currentDate.getFullYear() + 1).toString().substr(-2);
		var originalValue = $("#quotation_number_offer").val();
		
		if (isNaN(originalValue)) {
			// Handle the case when originalValue is a string
			var updatedValue;
			if (originalValue.match(/_R_\d+$/)) {
				var number = parseInt(originalValue.match(/\d+$/)[0]);
				updatedValue = originalValue.replace(/\d+$/, number + 1);
			} else {
				updatedValue = originalValue + "_R_1";
			}
			console.log(updatedValue);
			$("#quotation_number_offer").val(updatedValue);
		} else {
			// Handle the case when originalValue is a number
			var updatedValue = "ORN/QTN/" + originalValue + "/" + currentYear + "-" + nextYear;
			console.log(updatedValue);
			$("#quotation_number_offer").val(updatedValue);
		}
	});


	document.getElementById("myForm").addEventListener("submit", function (event) {
		// Check if "Select Customer Name" option is selected
		var selectElement = document.getElementById("customer_name_offer");
		var selectedValue = selectElement.options[selectElement.selectedIndex].value;
		if (selectedValue === "Select Customer Name") {
			// Prompt the user to update the selection
			alert("Please update the Customer Name selection");
			event.preventDefault(); // Prevent form submission
		}

		var selectMarketingElement = document.getElementById("marketing_Person_offer");
		var selectedValue = selectMarketingElement.options[selectMarketingElement.selectedIndex].value;
		if (selectedValue === "Select Marketing Person") {
			// Prompt the user to update the selection
			alert("Please update the Marketing Person selection");
			event.preventDefault(); // Prevent form submission
		}


		var selectoferTypeelement = document.getElementById("offer_type_offer");
		var selectedValue = selectoferTypeelement.options[selectoferTypeelement.selectedIndex].value;
		if (selectedValue === "Add Offer") {
			// Prompt the user to update the selection
			alert("Please update the Offer Type selection");
			event.preventDefault(); // Prevent form submission
		}


	});

</script>

<!-- * -->
<script>

function updateTotalPrice(inputElement) {
    const row = inputElement.closest('tr');
    const quantity = row.querySelector('.quantity').value;
    const unitPrice = row.querySelector('.unit-price').value;
    const totalElement = row.querySelector('.total');

    // Calculate the total price based on the quantity and unit price
    const totalPrice = quantity * unitPrice;

    // Update the total price value in the input element
    totalElement.value = totalPrice;
  }
  </script>

<!-- * -->
<style>
	th,
	td {
		border: 1px solid black;
		padding: 5px;
	}

	.container[_ngcontent-owj-c93] {
		width: 100%
	}
</style>

<style>
	.bs-example {
		margin: 20px;
	}

	.form-control:focus {
		border-color: #ff80ff;
		box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(255, 100, 255, 0.5);
	}
</style>
{% endblock javascripts %}