{% extends "layouts/base.html" %}

{% block title %} Add User {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="content">
    <div class="page-inner">
        <div class="page-header">
            <h4 class="page-title">OFFER</h4>
            <ul class="breadcrumbs">
                <li class="nav-home">
                    <a href="/">
                        <i class="flaticon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a href="/offer-addoffer">Offers</a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a href="/offer-offerlist">Add Offer</a>
                </li>
            </ul>
        </div>
        <form action='' method="POST">
            <section class="content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header"> Kit Details </div>
                            <div class="card-body">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="form-group col-sm-8">
                                            <label>Kit Description</label>
                                            <input rows="2" name="kit_description" value="{{user.kit_description}}" class="form-control"></input>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group col-sm-4">
                                            <label>Kit No</label>
                                            <input name="kit_no" type="text" value="{{user.kit_no}}" maxlength="200" autocomplete="off"
                                                class="form-control">
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label>HSN Code</label>
                                            <input name="hsn_code" type="text" value="{{user.hsn_code}}" maxlength="200" autocomplete="off"
                                                class="form-control">
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group col-sm-8">
                                            <label>Total No. of lubrication points</label>
                                            <input rows="2" name="lubricant_points" value="{{user.lubricant_points}}"  class="form-control"></input>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="content">
                <div class="page-section">
                    <div class="card card-fluid">
                        <div class="card-body">
                            <table _ngcontent-owj-c93="" style="width: 100%;" id="emptbl">

                                <thead _ngcontent-owj-c93="">
                                    <th _ngcontent-owj-c93="">Product<span _ngcontent-owj-c93=""
                                            style="color: red;">*</span></th>
                                    <th _ngcontent-owj-c93=""><a _ngcontent-owj-c93="" class="btn btn-secondary active "
                                            onclick="myButtonClick()"><i _ngcontent-owj-c93=""
                                                class="fa fa-plus"></i></a></th>
                                </thead>
                                <tbody _ngcontent-owj-c93="" style="padding: 5%;">
                                    {% for value in values_list %}
                                    <tr _ngcontent-owj-c93="">
                                        <td _ngcontent-owj-c93="" style="width: 400px;">
                                            <input class="text-input" name="kit_products" value="{{ value['kit_name_master'] }}">
                                        </td>
                                        <td _ngcontent-yms-c134="" style="width: 5%;"><a _ngcontent-yms-c134="" class="btn btn-secondary active"
                                            onclick="SomeDeleteRowFunction(this)"> <i _ngcontent-yms-c134="" class="fas fa-trash-alt"> </i> </a> </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>

                            </table>
                        </div>
                        <hr class="mb-4">
                        <div style="text-align: center;"><button id="btnSave" type="submit"
                                class="btn btn-primary btn-sm">Save</button> &nbsp; <a routerlink="/Kit-masters"
                                queryparamshandling="preserve" class="btn btn-danger btn-sm" href="/Kit-masters">Cancel
                            </a></div>
                        <br>
                        <div class="card-footer"></div>
                    </div>
                </div>
            </section>


        </form>
    </div>
</div>
{% endblock content %}

{% block javascripts %}
<script>
    let lineNo = 1;

    function myButtonClick() {
        console.log("clask")
        var table = document.getElementById('emptbl');
        var rowCount = table.rows.length;
        console.log(rowCount)
        var cellCount = table.rows[0].cells.length;
        markup = $('<tr _ngcontent-owj-c93=""> <td _ngcontent-owj-c93="" style="width: 400px;"> <input class="text-input" name="kit_products"> </td> <td _ngcontent-yms-c134="" style="width: 5%;"> <a _ngcontent-yms-c134="" class="btn btn-secondary active" onclick="SomeDeleteRowFunction(this)"> <i _ngcontent-yms-c134="" class="fas fa-trash-alt"> </i> </a> </td> </tr>')
        tableBody = $("table tbody");
        tableBody.append(markup);
        lineNo++;
    }

    $(document).ready(function () {
        $("#btnSave").click(function () {
            var inputData = "";

            $(".text-input").each(function () {
                var inputValue = $(this).val();
                inputData += "" + inputValue + "\n";
            });
            console.log(inputData);

        });
    });

    function SomeDeleteRowFunction(btndel) {
        if (typeof (btndel) == "object") {
            $(btndel).closest("tr").remove();
        }
        else {
            return false;
        }
    }


</script>

<style>
    th,
    td {
        border: 2px solid black;
        padding: 5px;
    }

    .container[_ngcontent-owj-c93] {
        width: 100%
    }
</style>

<style>
    .bs-example {
        margin: 20px;
    }

    .text-input {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;

    }

    .form-control {
        border-color: #0f0e0f;
        border-width: 2px;
    }

    .form-control:focus {
        border-color: #ff80ff;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(255, 100, 255, 0.5);
    }
</style>
{% endblock javascripts %}