{% extends "layouts/base.html" %}

{% block title %} Add User {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="content">
    <div class="page-inner">
        <div class="page-header">
            <h4 class="page-title">Contract Review</h4>
            <ul class="breadcrumbs">
                <li class="nav-home">
                    <a href="/">
                        <i class="flaticon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a href="/offer-addoffer">Contract Review</a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a href="/offer-offerlist">Contract Review</a>
                </li>
            </ul>
        </div>
        <form action='' method="POST">
            <div class="content-wrapper">
                <section class="content-header"></section>
                <section class="content">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-header"> Contract Review </div>
                                <div class="card-body">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="form-group col-sm-8">
                                                <label>Customer Name</label>
                                                <input class="form-control" value="{{add_user_contractReview.customer_name_offer}}" style="background-color: #f6f7f9; height: auto;" readonly>
                                                </input>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-sm-4">
                                                <label>Offer No</label>
                                                <input class="form-control" value="{{add_user_contractReview.quotation_number_offer}}" 
                                                    style="background-color: #f6f7f9; height: auto;" readonly>
                                                </input>
                                            </div>
                                            <div class="form-group col-sm-4">
                                                <label>Offer Date</label>
                                                <input class="form-control" value="{{add_user_contractReview.due_date_offer}}" style="background-color: #f6f7f9;" readonly>
                                                </input>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-sm-4">
                                                <label>Order No</label>
                                                <input type="text" maxlength="200" autocomplete="off"
                                                    class="form-control ng-pristine ng-valid ng-touched">
                                            </div>
                                            <div class="form-group col-sm-4">
                                                <label for="publisher">Order Date</label>
                                                <div class="input-group date">
                                                    <input type="date" autocomplete="off"
                                                        class="form-control pull-right ng-pristine ng-valid ng-touched">

                                                </div>
                                            </div>
                                            <div class="form-group col-sm-4">
                                                <label>PO Qty</label>
                                                <input type="text" maxlength="200" autocomplete="off" numberonly=""
                                                    class="form-control ng-pristine ng-valid ng-touched">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-sm-6">
                                                <label>Billing Address</label>
                                                    <textarea rows="3" class="form-control">{{add_user_contractReview.contract_review_Billing_Address}}</textarea>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-sm-6">
                                                <label>Delivery Address 1 </label>
                                                <textarea rows="3" class="form-control">{{add_user_contractReview.contract_review_Billing_Address}}</textarea>
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label>Delivery Address 2 </label>
                                                <textarea rows="3" class="form-control"></textarea>
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label>Delivery Address 3 </label>
                                                <textarea rows="3" class="form-control"></textarea>
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label>Delivery Address 4 </label>
                                                <textarea rows="3" class="form-control"></textarea>
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label>Delivery Address 5 </label>
                                                <textarea rows="3" class="form-control"></textarea>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <table id="tableCosts" style="width: 60%; margin-left: 14px;">
                                                <tr>
                                                    <th style="border: 1px solid black; border-collapse: collapse; padding: 15px; text-align: left;">
                                                        Offer No</th>
                                                </tr>
                                                <tr>
                                                    <td style="border: 1px solid black; border-collapse: collapse; padding: 15px; text-align: left;">
                                                        Total Cost</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="content">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <table id="table1"
                                                style="width: 100%; background-color: #f2f2f2; border-collapse: collapse; border: 1px solid #ccc; margin-bottom: 20px;">
                                                <thead>
                                                    <tr>
                                                        <th style="text-align: center; height: 50px;">Description</th>
                                                        <th style="text-align: center; height: 50px;">Values</th>
                                                        <th style="text-align: center; height: 50px;">Order</th>
                                                        <th style="text-align: center; height: 50px;">Deviation</th>
                                                    </tr>
                                                </thead>

                                                <tbody style="padding: 2%;">
                                                    <tr style="background-color: #ffffff; border: 1px solid #ccc;">
                                                        <td
                                                            style="width: 15%; border-right: none; font-weight: bold; text-align: center; padding: 10px;">
                                                            Price</td>
                                                        <td style="width: 28%; border-right: none; padding: 10px;">
                                                            <textarea rows="3"
                                                                class="form-control ng-untouched ng-pristine ng-valid"></textarea>
                                                        </td>
                                                        <td style="width: 28%; border-right: none; padding: 10px;">
                                                            <textarea rows="3"
                                                                class="form-control ng-untouched ng-pristine ng-valid"></textarea>
                                                        </td>
                                                        <td style="width: 28%; padding: 10px;">
                                                            <textarea rows="3"
                                                                class="form-control ng-untouched ng-pristine ng-valid"></textarea>
                                                        </td>
                                                    </tr>
                                                    <tr style="background-color: #ffffff; border: 1px solid #ccc;">
                                                        <td
                                                            style="width: 15%; border-right: none; font-weight: bold; text-align: center;">
                                                            Packing and Forwarding</td>
                                                        <td style="width: 28%; border-right: none; padding: 10px;">
                                                            <textarea rows="3"
                                                                class="form-control ng-untouched ng-pristine ng-valid"></textarea>
                                                        </td>
                                                        <td style="width: 28%; border-right: none; padding: 10px;">
                                                            <textarea rows="3"
                                                                class="form-control ng-untouched ng-pristine ng-valid"></textarea>
                                                        </td>
                                                        <td style="width: 28%; padding: 10px;">
                                                            <textarea rows="3"
                                                                class="form-control ng-untouched ng-pristine ng-valid"></textarea>
                                                        </td>
                                                    </tr>
                                                    <tr style="background-color: #ffffff; border: 1px solid #ccc;">
                                                        <td
                                                            style="width: 15%; border-right: none; font-weight: bold; text-align: center;">
                                                            GST</td>
                                                        <td style="width: 28%; border-right: none; padding: 10px;">
                                                            <textarea rows="3"
                                                                class="form-control ng-untouched ng-pristine ng-valid"></textarea>
                                                        </td>
                                                        <td style="width: 28%; border-right: none; padding: 10px;">
                                                            <textarea rows="3"
                                                                class="form-control ng-untouched ng-pristine ng-valid"></textarea>
                                                        </td>
                                                        <td style="width: 28%; padding: 10px;">
                                                            <textarea rows="3"
                                                                class="form-control ng-untouched ng-pristine ng-valid"></textarea>
                                                        </td>
                                                    </tr>
                                                    <tr style="background-color: #ffffff; border: 1px solid #ccc;">
                                                        <td
                                                            style="width: 15%; border-right: none; font-weight: bold; text-align: center;">
                                                            Delivery</td>
                                                        <td style="width: 28%; border-right: none; padding: 10px;">
                                                            <textarea rows="3"
                                                                class="form-control ng-untouched ng-pristine ng-valid"></textarea>
                                                        </td>
                                                        <td style="width: 28%; border-right: none; padding: 10px;">
                                                            <textarea rows="3"
                                                                class="form-control ng-untouched ng-pristine ng-valid"></textarea>
                                                        </td>
                                                        <td style="width: 28%; padding: 10px;">
                                                            <textarea rows="3"
                                                                class="form-control ng-untouched ng-pristine ng-valid"></textarea>
                                                        </td>
                                                    </tr>
                                                    <tr style="background-color: #ffffff; border: 1px solid #ccc;">
                                                        <td
                                                            style="width: 15%; border-right: none; font-weight: bold; text-align: center;">
                                                            Warranty</td>
                                                        <td style="width: 28%; border-right: none; padding: 10px;">
                                                            <textarea rows="3"
                                                                class="form-control ng-untouched ng-pristine ng-valid"></textarea>
                                                        </td>
                                                        <td style="width: 28%; border-right: none; padding: 10px;">
                                                            <textarea rows="3"
                                                                class="form-control ng-untouched ng-pristine ng-valid"></textarea>
                                                        </td>
                                                        <td style="width: 28%; padding: 10px;">
                                                            <textarea rows="3"
                                                                class="form-control ng-untouched ng-pristine ng-valid"></textarea>
                                                        </td>
                                                    </tr>
                                                    <tr style="background-color: #ffffff; border: 1px solid #ccc;">
                                                        <td
                                                            style="width: 15%; border-right: none; font-weight: bold; text-align: center;">
                                                            Terms of Payment</td>
                                                        <td style="width: 28%; border-right: none; padding: 10px;">
                                                            <textarea rows="3"
                                                                class="form-control ng-untouched ng-pristine ng-valid"></textarea>
                                                        </td>
                                                        <td style="width: 28%; border-right: none; padding: 10px;">
                                                            <textarea rows="3"
                                                                class="form-control ng-untouched ng-pristine ng-valid"></textarea>
                                                        </td>
                                                        <td style="width: 28%; padding: 10px;">
                                                            <textarea rows="3"
                                                                class="form-control ng-untouched ng-pristine ng-valid"></textarea>
                                                        </td>
                                                    </tr>
                                                    <tr style="background-color: #ffffff; border: 1px solid #ccc;">
                                                        <td
                                                            style="width: 15%; border-right: none; font-weight: bold; text-align: center;">
                                                            Freight / DD / Godown</td>
                                                        <td style="width: 28%; border-right: none; padding: 10px;">
                                                            <textarea rows="3"
                                                                class="form-control ng-untouched ng-pristine ng-valid"></textarea>
                                                        </td>
                                                        <td style="width: 28%; border-right: none; padding: 10px;">
                                                            <textarea rows="3"
                                                                class="form-control ng-untouched ng-pristine ng-valid"></textarea>
                                                        </td>
                                                        <td style="width: 28%; padding: 10px;">
                                                            <textarea rows="3"
                                                                class="form-control ng-untouched ng-pristine ng-valid"></textarea>
                                                        </td>
                                                    </tr>
                                                    <tr style="background-color: #ffffff; border: 1px solid #ccc;">
                                                        <td
                                                            style="width: 15%; border-right: none; font-weight: bold; text-align: center;">
                                                            Preferred Transporter</td>
                                                        <td style="width: 28%; border-right: none; padding: 10px;">
                                                            <textarea rows="3"
                                                                class="form-control ng-untouched ng-pristine ng-valid"></textarea>
                                                        </td>
                                                        <td style="width: 28%; border-right: none; padding: 10px;">
                                                            <textarea rows="3"
                                                                class="form-control ng-untouched ng-pristine ng-valid"></textarea>
                                                        </td>
                                                        <td style="width: 28%; padding: 10px;">
                                                            <textarea rows="3"
                                                                class="form-control ng-untouched ng-pristine ng-valid"></textarea>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td
                                                            style="width: 15%; border-right: none; font-weight: bold; text-align: center;">
                                                            Contract Person</td>
                                                        <td colspan="2" style="width: 70%;">
                                                            <input type="text" maxlength="200" autocomplete="off"
                                                                class="form-control ng-untouched ng-pristine ng-valid"
                                                                style="width: 50%;">
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            <table id="table2"
                                                style="width: 100%; background-color: #f2f2f2; border-collapse: collapse; border: 1px solid #ccc; margin-bottom: 20px;">
                                                <tbody>
                                                    <tr>
                                                        <td
                                                            style="width: 15%; border-right: none; font-weight: bold; text-align: center;">
                                                            Telephone</td>
                                                        <td style="width: 40%;">
                                                            <input type="text" maxlength="200" autocomplete="off"
                                                                class="form-control ng-untouched ng-pristine ng-valid"
                                                                style="width: 100%;">
                                                        </td>
                                                        <td
                                                            style="width: 15%; border-right: none; font-weight: bold; text-align: center;">
                                                            E-Mail Id</td>
                                                        <td style="width: 40%;">
                                                            <input type="text" maxlength="200" autocomplete="off"
                                                                class="form-control ng-untouched ng-pristine ng-valid"
                                                                style="width: 100%;">
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            <table id="table3"
                                                style="width: 100%; background-color: #f2f2f2; border-collapse: collapse; border: 1px solid #ccc; margin-bottom: 20px;">
                                                <tbody>
                                                    <tr>
                                                        <td style="width: 15%; border-right: none; font-weight: bold; text-align: center;">
                                                            Notes</td>
                                                        <td style="width: 80%;">
                                                            <textarea rows="2"
                                                                class="form-control ng-untouched ng-pristine ng-valid"></textarea>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                        </div>
                                        <div style="text-align: center;">
                                            <label> Approve</label> &nbsp;
                                            <input type="checkbox" value="1" class="ng-untouched ng-pristine ng-valid">
                                        </div>
                                        <hr class="mb-4">
                                        <div style="text-align: center;">
                                            <button id="btnSave" type="submit"
                                                class="btn btn-primary btn-sm">Save</button> &nbsp;
                                            &nbsp;
                                            <a routerlink="/Contract-Review-list" class="btn btn-danger btn-sm"
                                                href="/Contract-Review-list">Cancel</a>
                                        </div><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </form>
    </div>
</div>
{% endblock content %}