{% extends "layouts/base.html" %}

{% block title %} Add User {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

<style>
    th,
    td {
        border: 1px solid black;
        padding: 5px;
    }

    .container[_ngcontent-owj-c93] {
        width: 100%
    }
</style>

<style>
    .bs-example {
        margin: 20px;
    }

    .form-control:focus {
        border-color: #ff80ff;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(255, 100, 255, 0.5);
    }
</style>
{% endblock stylesheets %}

{% block content %}

<div class="content">
    <div class="page-inner">
        <div class="page-header">
            <h4 class="page-title">Contract Review</h4>
            <ul class="breadcrumbs">
                <li class="nav-home">
                    <a href="/">
                        <i class="flaticon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a href="/offer-addoffer">Offer Register</a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a href="/offer-offerlist">Offer Confirmation</a>
                </li>
            </ul>
        </div>
        <form action="" method="POST">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="content-wrapper">
                            <section class="content">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="card">
                                            <div class="card-header"> Order Confirmation Register </div>
                                            <div class="card-body">
                                                <div class="col-sm-12">
                                                    <div class="row">
                                                        <div class="form-group col-sm-8">
                                                            <label>Customer Name</label>
                                                            <input class="form-control" name="oc_customer_name" id="oc_customer_name" value="{{add_user_contractReview.oc_customer_name}}"
                                                                readonly>
                                                        </div>
                                                        <div class="form-group col-sm-4">
                                                            <label >Order Type</label>
                                                            <input class="form-control" name="oc_customer_type" value="{{add_user_contractReview.oc_customer_type}}" readonly>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="form-group col-sm-4">
                                                            <label>PO No</label>
                                                            <input type="text" name="oc_po_number" value="{{add_user_contractReview.oc_po_number}}"
                                                                maxlength="200" autocomplete="new-password"
                                                                class="form-control">
                                                        </div>
                                                        <div class="form-group col-sm-4">
                                                            <label for="publisher">PO Date</label>
                                                            <div class="input-group date">
                                                                <input value="{{add_user_contractReview.oc_po_date}}" name="oc_po_date" autocomplete="new-password"
                                                                    class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="form-group col-sm-4">
                                                            <label>PO Value</label>
                                                            <input type="text" autocomplete="new-password"
                                                            value="{{add_user_contractReview.oc_po_value}}" name="oc_po_value" class="form-control">
                                                        </div>
                                                        <div class="form-group col-sm-4">
                                                            <label for="serialNo">PO Qty</label>
                                                            <input type="text" autocomplete="new-password"
                                                            value="{{add_user_contractReview.oc_po_qty}}" name="oc_po_qty" class="form-control">
                                                        </div>
                                                        <div class="form-group col-sm-4">
                                                            <label for="publisher">Dispatch Date</label>
                                                            <div class="input-group date">
                                                                <input type="date" autocomplete="new-password"
                                                                value="{{add_user_contractReview.oc_dispatch_date}}" name="oc_dispatch_date"
                                                                    class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="form-group col-sm-8">
                                                            <label>Remarks</label>
                                                            <textarea rows="2" class="form-control" name="oc_remarks">{{add_user_contractReview.oc_remarks}}</textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            {% if add_user_contractReview.oc_customer_type == 'Kits' %}
                            <section class="content">
                                <div class="page-section">
                                    <div class="card card-fluid">
                                        <div class="card-body">
                                            <table id="emptbl">
                                                <thead>
                                                    <th>Kit Type</th>
                                                    <th>Equipment</th>
                                                    <th>Qty</th>
                                                    <th>Invoice Value</th>
                                                    <th>PO Value</th>
                                                    <th>Machine</th>
                                                    <th>Remarks</th>
                                                    <th><a class="btn btn-secondary active " onclick="myButtonClick()"><i
                                                        class="fa fa-plus"></i></a></th>
                                                </thead>
                                                <tbody style="padding: 5%;">
                                                    {% for data in oc_temp_data %}
                                                        <tr>
                                                            <td style="width: 10%;">
                                                                <select name="oc_kit_type" class="form-control ng-untouched ng-pristine ng-valid">
                                                                    <option value="">Select Kit</option>
                                                                    <option value="ECLS" {% if data['oc_kit_type'] == 'ECLS' %}selected{% endif %}>ECLS</option>
                                                                    <option value="HCLS" {% if data['oc_kit_type'] == 'HCLS' %}selected{% endif %}>HCLS</option>
                                                                    <option value="PCLS" {% if data['oc_kit_type'] == 'PCLS' %}selected{% endif %}>PCLS</option>
                                                                    <option value="Spares" {% if data['oc_kit_type'] == 'Spares' %}selected{% endif %}>Spares</option>
                                                                    <option value="Others" {% if data['oc_kit_type'] == 'Others' %}selected{% endif %}>Others</option>
                                                                    <option value="Exports" {% if data['oc_kit_type'] == 'Exports' %}selected{% endif %}>Exports</option>
                                                                    <option value="Services" {% if data['oc_kit_type'] == 'Services' %}selected{% endif %}>Services</option>
                                                                </select>
                                                            </td>
                                                            <td style="width: 20%;">
                                                                <input class="form-control ng-untouched ng-pristine ng-valid" name="oc_equipment" value="{{ data['oc_equipment'] }}">
                                                            </td>
                                                            <td style="width: 7%;">
                                                                <input numberonly="" class="form-control ng-untouched ng-pristine ng-valid" name="oc_qty" value="{{ data['oc_qty'] }}">
                                                            </td>
                                                            <td style="width: 10%;">
                                                                <input decimalonly="" class="form-control ng-untouched ng-pristine ng-valid" name="oc_invoice_value" value="{{ data['oc_invoice_value'] }}">
                                                            </td>
                                                            <td style="width: 10%;">
                                                                <input decimalonly="" class="form-control ng-untouched ng-pristine ng-valid" name="oc_po_value" value="{{ data['oc_po_value'] }}">
                                                            </td>
                                                            <td style="width: 20%;">
                                                                <input class="form-control ng-untouched ng-pristine ng-valid" name="oc_machine" value="{{ data['oc_machine'] }}">
                                                            </td>
                                                            <td style="width: 20%;">
                                                                <input class="form-control ng-untouched ng-pristine ng-valid" name="oc_remark" value="{{ data['oc_remark'] }}">
                                                            </td>
                                                            <td style="width: 5%;">
                                                                <a class="btn btn-secondary active" onclick="SomeDeleteRowFunction(this)" id="{{ loop.index }}">
                                                                    <i class="fas fa-trash-alt"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                                
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            {% endif %}
                            <div style="text-align: center;">
                                <button id="btnSave" type="submit"
                                    class="btn btn-primary btn-sm ng-star-inserted">Save</button>
                                &nbsp;
                                <a routerlink="/OC-Register-list" queryparamshandling="preserve"
                                    class="btn btn-danger btn-sm" href="/OC-Register-list">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock content %}

{% block javascripts %}

<script>
    let lineNo = 1;
    function myButtonClick() {
        var table = document.getElementById('emptbl');
        var rowCount = table.rows.length;
        console.log(rowCount)
        var cellCount = table.rows[0].cells.length;
        markup = $(`
    <tr>
        <td style="width: 10%;">
            <select name="oc_kit_type" class="form-control ng-untouched ng-pristine ng-valid">
                <option value="">Select Kit</option>
                <option value="ECLS">ECLS</option>
                <option value="HCLS">HCLS</option>
                <option value="PCLS">PCLS</option>
                <option value="Spares">Spares</option>
                <option value="Others">Others</option>
                <option value="Exports">Exports</option>
                <option value="Services">Services</option>
            </select>
        </td>
        <td style="width: 20%;">
            <input name="oc_equipment" class="form-control ng-untouched ng-pristine ng-valid">
        </td>
        <td style="width: 7%;">
            <input name="oc_qty" numberonly="" class="form-control ng-untouched ng-pristine ng-valid">
        </td>
        <td style="width: 10%;">
            <input name="oc_invoice_value" decimalonly="" class="form-control ng-untouched ng-pristine ng-valid">
        </td>
        <td style="width: 10%;">
            <input name="oc_po_value" decimalonly="" class="form-control ng-untouched ng-pristine ng-valid">
        </td>
        <td style="width: 20%;">
            <input name="oc_machine" class="form-control ng-untouched ng-pristine ng-valid">
        </td>
        <td style="width: 20%;">
            <input name="oc_remark" class="form-control ng-untouched ng-pristine ng-valid">
        </td>
        <td style="width: 5%;"> <a class="btn btn-secondary active" onclick="SomeDeleteRowFunction(this)" id=' + lineNo + '>
                                <i class="fas fa-trash-alt"> </i> </a> </td>
    </tr>`)
        tableBody = $("table tbody");
        tableBody.append(markup);
        lineNo++;
    }
    function SomeDeleteRowFunction(btndel) {
        if (typeof (btndel) == "object") {
            $(btndel).closest("tr").remove();
        }
        else {
            return false;
        }
        }

    // function removeProductRow(button) {
    //     const row = button.closest('tr');
    //     row.remove();
    //     updateTotal();
    // }
</script>
{% endblock javascripts %}