{% extends "layouts/base.html" %}

{% block title %} Users {% endblock %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> 

<script type="text/javascript">
$(document).ready(function($) 
{

	//--->deletel single row > start
	function remove_curr_tbl_row(ele) 
	{	 
		ele.closest('tr').css('background-color', 'red');
		
		ele.closest('tr').fadeOut('slow', function()
		{
			$(this).remove();
		}); 	
	};

	$(document).on('click', '.btn_delete', function(event) 
	{
		event.preventDefault();

		remove_curr_tbl_row($(this));
	}); 		
	//--->deletel single row > start
	 

	//--->select/unselect all > start
	 function select_unselect_checkbox (this_el, select_el) 
	 {

		if(this_el.prop("checked"))
		{
			select_el.prop('checked', true);
		}
		else
		{ 
			select_el.prop('checked', false);				 
		}
	 };

	$(document).on('change', '.select_all_items', function(event) 
	{
		event.preventDefault();

		var ele = $(document).find('.item_id'); 

		select_unselect_checkbox($(this), ele); 
	});
	//--->select/unselect all > end



	//--->deletel selected rows > start
	function remove_all_checked_val(ele) 
	{	 
		ele.each(function(index, v1)
		{   
			if($(this).prop("checked")) 
			 {
				$(this).closest('tr').css('background-color', 'red');
				
				$(this).closest('tr').fadeOut('slow', function()
				{
					$(this).remove();
				}); 
			} 
		});
	};
	$(document).on('click', '.btn_delete_val', function(event) 
	{
		event.preventDefault();

		var ele = $(document).find('.item_id'); 
		var v1 = remove_all_checked_val(ele);
	});
	//--->deletel selected rows > end



	//--->get selected rows values > start

	function get_all_checked_val(ele, attr_lookup) 
	{  
		var get_obj = [];
		ele.each(function(index, v1)
		{   
			if($(this).prop("checked")) 
			 {
				get_obj.push($(this).attr(attr_lookup));
			} 
		});			
		return get_obj;
	};

	

	$(document).on('click', '.btn_get_val', function(event) 
	{
		event.preventDefault();

		var ele = $(document).find('.item_id'); 

		var v1 = get_all_checked_val(ele, 'option_id');

		var check_buttons = []
		check_buttons.push(get_all_checked_val(ele, 'chk_usr_disp_funds_avil'))
		v1.push(check_buttons, 'btn_usr_disp_funds_avil_apply')
		console.log(v1); // Prints the variables to console window, which are in the JSON format
		console.log(check_buttons); // Prints the variables to console window, which are in the JSON format

        $.ajax({
            url:"/print_data",
            type:"POST",
            contentType: "application/json",
            data: JSON.stringify(v1)});

	});		
	

	//--->get selected rows values > end
	


});
</script>

	<div class="content">
		<div class="page-inner">
			<div class="page-header">
				<h4 class="page-title">Order Book</h4>
				<ul class="breadcrumbs">
					<li class="nav-home">
						<a href="/">
							<i class="flaticon-home"></i>
						</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="/orderbook-openpos">OrderBook</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="/orderbook-funds">Funds Available</a>
					</li>
				</ul>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<div class="d-flex align-items-center">
								<h4 class="card-title">Funds Available</h4>
							</div>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table id="add-row" class="display table table-striped table-hover" >
									<thead>
										<tr>
											<th>ID</th>
											<th>User ID</th>
											<th>Name</th>
											<th><input  type="checkbox"  class="select_all_items"></th>
                                            <th>Available Funds</th>
										</tr>
									</thead>
									<tbody>
										{% for user in users %}
											<tr
											{% if loop.index %2==0 %}
											{% else %}
											{% endif %}
											>
											<td>{{ loop.index }}</td>
											<td>{{user.usr_id}}</td>
											<td>{{user.usr_name}}</td>
											<td>
												<input  type="checkbox" class="item_id" name="chk_usr_disp_funds_avil" chk_usr_disp_funds_avil="chk_usr_disp_funds_avil" option_id={{user.usr_id}}>
											</td>
									<td></td>
										</tr>
									{% endfor %}
									</tbody>
								</table>
							</div>
						</div>

					</div>
					<tr>
								<td colspan="5">
									<div class="btn btn-secondary btn_get_val" onclick="btn_get_val">Display Funds</div>

								</td>
								</tr>
				</div>
			</div>
		</div>
	</div>

{% endblock content %}

