{% extends "layouts/base.html" %}

{% block title %} Autologin {% endblock %}

{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}
<style>
	/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> 

<script type="text/javascript">
$(document).ready(function($) 
{

	//--->deletel single row > start
	function remove_curr_tbl_row(ele) 
	{	 
		ele.closest('tr').css('background-color', 'red');
		
		ele.closest('tr').fadeOut('slow', function()
		{
			$(this).remove();
		}); 	
	};

	$(document).on('click', '.btn_delete', function(event) 
	{
		event.preventDefault();

		remove_curr_tbl_row($(this));
	}); 		
	//--->deletel single row > start
	 

	//--->select/unselect all > start
	 function select_unselect_checkbox (this_el, select_el) 
	 {

		if(this_el.prop("checked"))
		{
			select_el.prop('checked', true);
		}
		else
		{ 
			select_el.prop('checked', false);				 
		}
	 };

	$(document).on('change', '.select_all_items', function(event) 
	{
		event.preventDefault();

		var ele = $(document).find('.item_id'); 

		select_unselect_checkbox($(this), ele); 
	});
	$(document).on('change', '.select_all_items1', function(event) 
	{
		event.preventDefault();

		var ele = $(document).find('.item_id1'); 

		select_unselect_checkbox($(this), ele); 
	});
	$(document).on('change', '.select_all_items2', function(event) 
	{
		event.preventDefault();

		var ele = $(document).find('.item_id2'); 

		select_unselect_checkbox($(this), ele); 
	});
	//--->select/unselect all > end



	//--->deletel selected rows > start
	function remove_all_checked_val(ele) 
	{	 
		ele.each(function(index, v1)
		{   
			if($(this).prop("checked")) 
			 {
				$(this).closest('tr').css('background-color', 'red');
				
				$(this).closest('tr').fadeOut('slow', function()
				{
					$(this).remove();
				}); 
			} 
		});
	};
	$(document).on('click', '.btn_delete_val', function(event) 
	{
		event.preventDefault();

		var ele = $(document).find('.item_id'); 
		var v1 = remove_all_checked_val(ele);
	});
	//--->deletel selected rows > end

	//--->get selected rows values > start

	function get_all_checked_val(ele, attr_lookup) 
	{  
		var get_obj = [];
		ele.each(function(index, v1)
		{   
			if($(this).prop("checked")) 
			 {
				get_obj.push($(this).attr(attr_lookup));
			} 
		});			
		return get_obj;
	};


	$(document).on('click', '.btn_get_val', function(event) 
	{
		event.preventDefault();

		var ele = $(document).find('.item_id'); 

		var v1 = get_all_checked_val(ele, 'option_id');
		var check_buttons = []
		check_buttons.push(get_all_checked_val(ele, 'check_box_autologin'))
		v1.push(check_buttons, 'btn_usr_autologin_selected')
		console.log(v1); // Prints the variables to console window, which are in the JSON format
		console.log(check_buttons); // Prints the variables to console window, which are in the JSON format

        $.ajax({
            url:"/print_data",
            type:"POST",
            contentType: "application/json",
            data: JSON.stringify(v1)});

	});		

	$(document).on('click', '.btn_get_val1', function(event) 
	{
		event.preventDefault();

		var ele = $(document).find('.item_id1'); 

		var v1 = get_all_checked_val(ele, 'option_id1');

		
		var check_buttons = []
		check_buttons.push(get_all_checked_val(ele, 'check_box_autoverify'))
		v1.push(check_buttons, 'btn_usr_autoverify_selected')
		console.log(v1); // Prints the variables to console window, which are in the JSON format
		console.log(check_buttons); // Prints the variables to console window, which are in the JSON format

        $.ajax({
            url:"/print_data",
            type:"POST",
            contentType: "application/json",
            data: JSON.stringify(v1)});

	});	
	
	$(document).on('click', '.btn_get_val2', function(event) 
	{
		event.preventDefault();

		var ele = $(document).find('.item_id2'); 

		var v1 = get_all_checked_val(ele, 'option_id2');

		var check_buttons = []
		check_buttons.push(get_all_checked_val(ele, 'check_box_autologout'))
		v1.push(check_buttons, 'btn_usr_autologout_selected')
		console.log(v1); // Prints the variables to console window, which are in the JSON format

        $.ajax({
            url:"/print_data",
            type:"POST",
            contentType: "application/json",
            data: JSON.stringify(v1)});

	});	

	//--->get selected rows values > end
	


});
</script>

<body>

<div class="content">
<div class="page-inner">
	<div class="page-header">
		<h4 class="page-title">Semi-Auto Trade</h4>
		<ul class="breadcrumbs">
			<li class="nav-home">
				<a href="/">
					<i class="flaticon-home"></i>
				</a>
			</li>
			<li class="separator">
				<i class="flaticon-right-arrow"></i>
			</li>
			<li class="nav-item">
				<a href="/trade-switch">Semi-Auto Trade</a>
			</li>
			<li class="separator">
				<i class="flaticon-right-arrow"></i>
			</li>
			<li class="nav-item">
				<a href="/trade-manual">manual Trade</a>
			</li>
		</ul>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				
				<div class="card-body">
					<ul class="nav nav-pills nav-secondary nav-pills-no-bd" id="pills-tab" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="True">OPTIONS</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Stocks & FNO</a>
						</li>
					</ul>
					<div class="tab-content mt-2 mb-3" id="pills-tabContent">

						<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
							<div class="card-body">
										<div class="table-responsive">
											<form action='' method = "POST">
											<select name="man_opt_drpdwn" class="form-control input-fixed">
												{% for user in users %}
												<option {% if manualuser.man_opt_usr_id==user.usr_id %} selected="selected"{% endif %}>{{user.usr_id}}</option>
												{% endfor %}
											</select>
											<button class="btn btn-secondary" name="man_opt_drpdwn_apply">Apply</button>
											<button style = "position:relative; left:280px; top:0px;" class="btn btn-secondary" name="man_opt_select_all_user">Select all user</button>
											<button class="btn btn-secondary" name="man_Get_Expiry">Get Expiry</button>

													
								<div class="table-responsive">
									<table id="add-row2" class="table table-bordered table-head-bg-secondary table-bordered-bd-info mt-4" >
										<thead>
											<tr>
												<th>User ID</th>
												<th>Name</th>
												<th>Expiry</th>
												<th>NIFTY/BANK</th>
												<th>MIS/NRML</th>
											</tr>
										</thead>
										
										<tbody>
											<tr>
												<td>{{ manualuser.man_opt_usr_id }}</td>
												<td>{{ manualuser.man_opt_nam }}</td>
												<td><input type="text" name="man_opt_expiry" value="{{manualuser.man_opt_expiry}}" class="form-control" /></td>
												<td>
													<select name="man_opt_nif_banknif" class="form-control">
														<option {% if manualuser.man_opt_nif_banknif=="NIFTY" %} selected="selected"{% endif %} >NIFTY</option>
														<option {% if manualuser.man_opt_nif_banknif=="BANKNIFTY" %} selected="selected"{% endif %} >BANKNIFTY</option>
													</select>
												</td>
												<td>
													<select name="man_opt_mis_nrml" class="form-control">
														<option {% if manualuser.man_opt_mis_nrml=="MIS" %} selected="selected"{% endif %}>MIS</option>
														<option {% if manualuser.man_opt_mis_nrml=="NRML" %} selected="selected"{% endif %}>NRML</option>
													</select>
												</td>
											</tr>
										</tbody>
									</table>
								</div>

								<table class="table mt-3">
									<thead>
										<tr>
											<th scope="col"></th>
											<th scope="col">Strike</th>
											<th scope="col">PE/CE</th>
											<th scope="col">Quantity</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>1_BUY_order </td>
											<div class="form-group">
											<td><input type="number" name="man_opt_buy_1_ord" value="{{manualuser.man_opt_buy_1_ord}}" class="form-control" /></td>
											<td>
												<select name="man_opt_buy_PECE" class="form-control">
													<option {% if manualuser.man_opt_buy_PECE=="PE" %} selected="selected"{% endif %}>PE</option>
													<option {% if manualuser.man_opt_buy_PECE=="CE" %} selected="selected"{% endif %}>CE</option>
												</select>
											</td>
											<td><input type="number" name="man_opt_qty_buy" value="{{manualuser.man_opt_qty_buy}}" class="form-control" /></td>
											</div>
	
										</tr>
										<tr>
											<td>2_SELL_order</td>
											<div class="form-group">
											<td><input type="number" name="man_opt_sell_2_ord" value="{{manualuser.man_opt_sell_2_ord}}" class="form-control" /></td>
											<td>
												<select name="man_opt_sell_PECE" class="form-control">
													<option {% if manualuser.man_opt_sell_PECE=="PE" %} selected="selected"{% endif %}>PE</option>
													<option {% if manualuser.man_opt_sell_PECE=="CE" %} selected="selected"{% endif %}>CE</option>
												</select>
											</td>
											<td><input type="number" name="man_opt_qty_sell" value="{{manualuser.man_opt_qty_sell}}" class="form-control" /></td>
											</div>
										</tr>
									</tbody>
								</table>

								<button class="btn btn-secondary" name="btn_man_opt_apply">Apply</button>
								<button class="btn btn-secondary" name="btn_man_opt_clo_trade">Close Trade</button>
								<button class="btn btn-secondary" name="btn_man_opt_plc_odr">Place Order</button>


										</form>
										</div>

							</div>
						</div>


						





	 <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
		
		<div class="card-body">
			<div class="table-responsive">
				<form action='' method = "POST">
				<select name="man_drpdwn" class="form-control input-fixed">
					{% for user in users %}
					<option {% if manualuser.man_usr_id==user.usr_id %} selected="selected"{% endif %}>{{user.usr_id}}</option>
					{% endfor %}
				</select>
				<button class="btn btn-secondary" name="man_drpdwn_apply">Apply</button>
				<button style = "position:relative; left:280px; top:0px;" class="btn btn-secondary" name="man_select_all_user">Select all user</button>

						
	<div class="table-responsive">
		<table id="add-row2" class="table table-bordered table-head-bg-secondary table-bordered-bd-info mt-4" >
			<thead>
				<tr>
					<th>USER ID</th>
					<th>NAME</th>
					<th>SYMBOL</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{ manualuser.man_usr_id }}</td>
					<td>{{manualuser.man_name}}</td>
					<td><input type="text" name="man_symb" value="{{manualuser.man_symb}}" class="form-control" ></td>
				</tr>
			</tbody>
		</table>
	</div>

	<table class="table mt-3">
		<thead>
			<tr>
				<th scope="col">Quantity</th>
				<th scope="col">BUY/SELL</th>
				<th scope="col">MIS/NRML</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<div class="form-group">
				<td><input type="number" name="man_qty" value="{{manualuser.man_qty}}" class="form-control" ></td>
				<td>
					<select name="man_buysell" class="form-control">
						<option {% if manualuser.man_buysell=="BUY" %} selected="selected"{% endif %}>BUY</option>
						<option {% if manualuser.man_buysell=="SELL" %} selected="selected"{% endif %}>SELL</option>
					</select>
				</td>
				<td>
					<select name="man_mis_nrml" class="form-control">
						<option {% if manualuser.man_mis_nrml=="MIS" %} selected="selected"{% endif %}>MIS</option>
						<option {% if manualuser.man_mis_nrml=="NRML" %} selected="selected"{% endif %}>NRML</option>
					</select>
				</td>
				</div>

			</tr>

		</tbody>
	</table>
	<button class="btn btn-secondary" name="btn_man_apply">Apply</button>
	<button class="btn btn-secondary" name="btn_man_clo_trade">Close Trade</button>
	<button class="btn btn-secondary" name="btn_man_plc_odr">Place Order</button>

			</form>
			</div>

</div>

	</div>


 </div>
</div>

{% endblock content %}
