{% extends "layouts/base.html" %}

{% block title %} UI Datatables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<div class="content">
		<div class="page-inner">
			<div class="page-header">
				<h4 class="page-title">Order Confirmation List</h4>
				<ul class="breadcrumbs">
					<li class="nav-home">
						<a href="#">
							<i class="flaticon-home"></i>
						</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">Masters</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">Order Confirmation List</a>
					</li>
				</ul>
			</div>
			<div class="row">
				
				<div class="col-md-12">
					<div class="card">
						<div class="card-body">
							<div class="table-responsive">
								<table id="add-row" class="display table table-striped table-hover">
									<thead>
									  <tr>
										<th>Date</th>
										<th>OC No</th>
										<th>Customer Name</th>
										<th>PO Value</th>
										<th>Order Type</th>
										<th>PO Number</th>
										<th>PO Date</th>
										<th>Quotation No</th>
										<th>Dispatch Date</th>
										<th>Invoice No</th>
										<th>Invoice Date</th>
										<th style="width: 10%">Action</th>
									  </tr>
									</thead>
									<tbody>
										{% for user in users %}
										  <tr style="background-color: {% if user.oc_date == '' %}yellow{% else %}rgba(144, 238, 144, 0.5){% endif %}">
											<td>{{ user.oc_date }}</td>
											<td>
											  {% if user.oc_date != '' %}
												{{ user.oc_number }}
											  {% endif %}
											</td>
											<td>{{ user.oc_customer_name }}</td>
											<td>{{ user.oc_po_value }}</td>
											<td>{{ user.oc_customer_type }}</td>
											<td>{{ user.oc_po_number }}</td>
											<td>{{ user.oc_po_date }}</td>
											<td>{{ user.oc_quotation_no }}</td>
											<td>{{ user.oc_dispatch_date }}</td>
											<td>{{ user.oc_invoice_no }}</td>
											<td>{{ user.oc_invoice_date }}</td>
											<td>
											  <div class="form-button-action">
												<span style="font-size: 24px;color:green;">
												  <a href="/{{ user.id }}/edit_oc_register" type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task"> <i class="fas fa-edit"></i></a> 
												</span>
											  </div>
											</td>
										  </tr>
										{% endfor %}
									  </tbody>
									  
								  </table>
								  
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

	<!-- Atlantis DEMO methods, don't include it in your project! -->
	<script src="/static/assets/js/setting-demo2.js"></script>
	<script >
		$(document).ready(function() {
			$('#basic-datatables').DataTable({
			});

			$('#multi-filter-select').DataTable( {
				"pageLength": 5,
				initComplete: function () {
					this.api().columns().every( function () {
						var column = this;
						var select = $('<select class="form-control"><option value=""></option></select>')
						.appendTo( $(column.footer()).empty() )
						.on( 'change', function () {
							var val = $.fn.dataTable.util.escapeRegex(
								$(this).val()
								);

							column
							.search( val ? '^'+val+'$' : '', true, false )
							.draw();
						} );

						column.data().unique().sort().each( function ( d, j ) {
							select.append( '<option value="'+d+'">'+d+'</option>' )
						} );
					} );
				}
			});

			// Add Row
			$('#add-row').DataTable({
				"pageLength": 5,
			});

			var action = '<td> <div class="form-button-action"> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task"> <i class="fa fa-edit"></i> </button> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove"> <i class="fa fa-times"></i> </button> </div> </td>';

			$('#addRowButton').click(function() {
				$('#add-row').dataTable().fnAddData([
					$("#addName").val(),
					$("#addPosition").val(),
					$("#addOffice").val(),
					action
					]);
				$('#addRowModal').modal('hide');

			});
		});
	</script>

{% endblock javascripts %}