{% extends "layouts/base.html" %}

{% block title %} Add User {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="content">
	<div class="page-inner">
		<div class="page-header">
			<h4 class="page-title">Add Users</h4>
			<ul class="breadcrumbs">
				<li class="nav-home">
					<a href="#">
						<i class="flaticon-home"></i>
					</a>
				</li>
				<li class="separator">
					<i class="flaticon-right-arrow"></i>
				</li>
				<li class="nav-item">
					<a href="">Users</a>
				</li>
				<li class="separator">
					<i class="flaticon-right-arrow"></i>
				</li>
				<li class="nav-item">
					<a href="">Add Users</a>
				</li>
			</ul>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">Update Product</div>
					</div>

					<form action='' method="POST">
						<div class="card-body">
							<div class="row">
								<div class="col-md-6 col-lg-4">

									<div class="form-group">
										<tr>
											<label>Product Name</label>
											<td><input type="text" name="product_name" value="{{user.product_name}}"
													class="form-control" /></td>
										</tr>
									</div>


									<div class="form-group">
										<tr>
											<label>Part No</label>
											<td><input type="text" name="part_no" value="{{user.part_no}}"
													class="form-control" /></td>
										</tr>
									</div>


									<div class="form-group">
										<tr>
											<label>Rack No</label>
											<td><input type="text" name="rack_no" value="{{user.rack_no}}"
													class="form-control" /></td>
										</tr>
									</div>
								</div>



								<div class="col-md-6 col-lg-4">
									<div class="form-group">
										<tr>
											<label>Bin No</label>
											<td><input type="text" name="bin_no" value="{{user.bin_no}}"
													class="form-control" /></td>
										</tr>
									</div>
									<div class="form-group">
										<tr>
											<label>Minimum Qty</label>
											<td><input type="text" name="minimum_qty" value="{{user.minimum_qty}}"
													class="form-control" /></td>
										</tr>
									</div>
									<div class="form-group">
										<tr>
											<label>Maximum Order</label>
											<td><input type="text" name="maximum_order" value="{{user.maximum_order}}"
													class="form-control" /></td>
										</tr>
									</div>

								</div>


								<div class="col-md-6 col-lg-4">
									<div class="form-group">
										<tr>
											<label>Description</label>
											<td><input type="text" name="description" value="{{user.description}}"
													class="form-control" /></td>
										</tr>
									</div>
									<div class="form-group">
										<tr>
											<label>HSN No</label>
											<td><input type="text" name="product_hsn_no" value="{{user.product_hsn_no}}"
													class="form-control" /></td>
										</tr>
									</div>
								</div>
								<div class="card-action">
									<tr>
										<td colspan="3">
											<input type="submit" name="submit" value="submit" class="btn btn-success">
										</td>
									</tr>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}